
@{
    ViewData["Title"] = "HIMserve Legal Status and Documents";
}
<div class="service-area pt-70 bg-white">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-7 col-md-10 col-sm-10">
                <!-- Section Tittle -->
                <div class="section-tittle text-left mb-80">

                    <h2>HIMserve Legal Status/Downloads</h2>
                    <p>Click on button to know the details</p>
                    <a href="~/downloadable-resources/Levels of Authority wef 1.4.2019 (1).doc" target="_blank" class="btn btn-round mb-3">Level of Authority (2019-20)</a>
                    <a href="~/downloadable-resources/Code of Conduct_19 Feb 2019.doc" target="_blank" class="btn btn-round mb-3">Code of Conduct (2019-20)</a>
                    <a href="~/downloadable-resources/Conflict of Interest.docx" target="_blank" class="btn btn-round mb-3">Conflict of Interest (2019-20)</a>
                    <a href="~/downloadable-resources/Organogram wef 1.4.2019.doc" target="_blank" class="btn btn-round mb-3">Organogram(2019-20)</a>
                    <a href="~/downloadable-resources/4.jpg" target="_blank" class="btn btn-round mb-3">Finance Statement(2018-19)</a>
                    <a href="~/downloadable-resources/FCRA Certi.pdf" target="_blank" class="btn btn-round mb-3">FRCA Certificate</a>
                    <a href="~/downloadable-resources/IT Exemption.pdf" target="_blank" class="btn btn-round mb-3">IT Exemption (12 AA & 80 G)</a>
                    <a href="~/downloadable-resources/Child Protection Policy.docx" target="_blank" class="btn btn-round mb-3">Child Protection Policy</a>
                    <a href="~/downloadable-resources/Finance Manual.doc" target="_blank" class="btn btn-round mb-3">Finance Manual</a>
                    <a href="~/downloadable-resources/HIMserve CHV Program Evaluation.pdf" target="_blank" class="btn btn-round mb-3">Evaluation 2013-16 (Health)</a>

                </div>
            </div>
            <div class="col-sm-12 col-md-5 col-xl-5">
                <div class="text-center mb-50">
                    <img class="img-fluid" src="~/downloadable-resources/himserve -certificate of registration (1).jpg" />
                 </div>
            </div>

        </div>
    </div>
</div>