@{
    ViewData["Title"] = "About us";
}

<!--? Services Area Start -->
<div class="service-area pt-70 bg-white">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-7 col-md-10 col-sm-10">
                <!-- Section Tittle -->
                <div class="section-tittle text-center mb-80">
                    <span>What we are doing</span>
                    <h2>Working together for better future</h2>
                </div>
            </div>
        </div>
        <div class="row">


            <div class="col-sm-6">
                <div class="single-cat text-center border mb-50">

                    <div class="cat-cap">
                        <h5><a>Our Vision</a></h5>
                        <p>
                            To see communities being holistically transformed primarily by the committed efforts
                            of Men and Women who themselves have been transformed and challenged to be salt and light within their area of Influence.
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-sm-6">

                <div class="single-cat text-center border mb-50">
                    <div class="cat-cap">
                        <h5><a>Our Mission</a></h5>
                        <p>
                            To share the Vision of holistic service with the Nepali speaking people of North Bengl and empower them to bring deep lasting
                            tranformation to their communities through the practical demonstration of Love.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="single-cat text-center active mb-50">
                    <div class="cat-cap">
                        <h5><a>Our Philosophy</a></h5>
                        <p>
                            Our overall strategy is to work in the background and have our church partners in the foreground. 
                            Behind this is the conviction that the church should play a leadership role in the world. 
                            The church needs to become increasingly relevant, especially in the communities to which it belongs, and to live out 
                            the mandate to be salt and light in this world. Therefore HIMserve does not place its name on any of the work it does.
                            Instead, the organization seeks partnerships with churches that express a genuine desire to learn more about and to live 
                            out the church's God given mandate to practice the holistic mission found in the Gospels. All members of these communities 
                            should benefit spiritually, economically, socially and emotionally from the efforts of the Church. 
                            When members of the wider community benefit in this way, the Church, not HIMserve, should be seen as the source of the blessing.
                        </p>
                        <p>
                            The work of HIMserve involves: Challenging, Mobilizing & equipping community leaders for  holistic living: forming and equipping the wider community to run
                            community based groups; training and helping leaders of Children, Teens, Youths, Women, Men & Farmers; Training on Community Health; Providing Ambulance
                            services in remote and needy areas; Running a Junior School & Hostel; Training on Agriculture, Animal Husbandary and other Income Generating Activities;
                            Raising awareness on burning issues that are of concern of our work areas; Investing on Community Motivators to be long term initiators of change in their respective communities.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services Area End -->
<!--? About Law Start-->
<section class="about-low-area section-padding2">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <div class="about-caption mb-50">
                    <!-- Section Tittle -->
                    <div class="section-tittle mb-35">
                        <span>A brief history</span>
                        <h2>HIMserve</h2>
                    </div>
                  
                    <p>
                        People often ask, "Why does HIMserve do what it does?" In short, the mission of HIMserve is to serve ‘Him’ by serving the Himalayas. 
                        Through this example of service, HIMserve teaches Christian communities to serve their neighbors as well. 
                        HIMserve’s vision is to see the church take the forefront in creating lasting transformation in communities suffering from spiritual, 
                        physical, social and economic poverty. 
                        The work of HIMserve began in Siliguri in 1998 under the leadership of Ms. Anne Herr, within an organisation known as Himalayan Ministries. 
                        The founder of Himalayan Ministries, Dr. Cindy Perry, invited Anne to Siliguri and she began a work, which has continued on until today.
                    </p>
                    <p>
                        The early focus of HIMserve’s work was Community Health promotion. Through this the need to challenge and equip Christians to be more socially 
                        engaged became apparent. This was a time when the concept of Holistic Ministry was virtually unknown in the churches of the region. 
                        Several "Vision Conferences" were organised to foster an understanding of the church’s role in society. 
                        This God given mandate became the foundation of HIMserve’s vision and mission. Since then all efforts have been directed towards the physical, 
                        social, economic and spiritual transformation of communities through the initiative and leadership of the local church. 
                        Himalayan Ministries and HIMserve are pioneers of this service-focused Ministry in North Bengal. 
                        Later Development Associates International (DAI) became a bigger promoter of Holistic Ministry in the Himalayan region. 
                        However, HIMserve still remains a major player in implementing it at the grassroots level. 
                        </p>
                    
                </div>
               
            </div>
            <div class="col-md-2">
                <!-- about-img -->
                <div class="about-img ">
                    <div class="about-back-img mt-md-5">
                        <img src="assets/img/staffs/anne herr.jpg" alt="">
                        
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="col-md-3">
                <div class="about-img">
                    <div class="about-font-img">
                        <img src="assets/img/staffs/maria.jpg" style="max-height:290px; max-width:200px" />
                        
                    </div>
                    <div class="about-back-img">
                        <img src="assets/img/staffs/sieghild.jpg" />
                         
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <p>
                    In the beginning, there was a small team comprised of Ms. Anne Herr, Mr. Rajesh Thapa, the late Mr. C.K. Gurung, Mr. Yuden Lepcha,
                    Mrs. Sheila Subba and Mrs. Elena Soren. In 2003, HIMserve was registered under the West Bengal Societies Act.
                    Over the years other team members have joined and moved on, two of whom require special mention. Ms. Maria Schimpf and Ms. Sieghild Rapur of
                    Germany were with HIMserve for 5 years (2004-09) respectively. Maria was responsible for health trainings and made very valuable
                    contributions to the development of HIMserve’s health department. Sieghild on her part was instrumental in developing the Society’s
                    outreach to children and adolescents through educational services.
                </p>
                <div class="row">
                    <div class="col-md-8">
                        <p>
                            After guiding HIMserve with her wisdom, vision and example for 8 years, Ms. Anne Herr handed over her position of Executive Director to Mr. Puran Rai.
                            At this same time (2010), Dr. Tigi Verghis was named Program Director by HIMserve’s Board of Directors till 2016.
                            In 2012 the Dayasagar Project of ECTA International joined forces with HIMserve. Through this, 3 ambulances, a rural health clinic,
                            a primary school and a 12 member team became a part of HIMserve. ECTA and HIMserve already had a close working relationship in the field as well as an
                            identical mission and vision.
                            It became apparent that the two organizations could do even more together as a unified entity than they already had as
                            independent partners.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <div class="about-img">

                            <div class="about-back-img">
                                <img src="assets/img/staffs/puran-tigi.jpg" class="img-fluid" />

                            </div>
                        </div>
                    </div>
                </div>
              
            </div>
            <div class="clearfix"></div>
           
            <div class="col-md-8 mt-5">
                <p>
                    ECTA’s Project Coordinators, Mr. Ryan & Mrs. Amanda Philips are now responsible for overseeing all of HIMserve’s health endeavors.
                    Today we have a very committed and skilled team of 12 full time staff, 8 community facilitators and 29 workers at the local level.

                </p>
                <p>
                    When HIMserve began, its vision included reaching Nepali speaking people in Sikkim and as far away as Assam. But as we began working and interest in
                    partnering with us increased in the hills of Darjeeling district, it became clear that we could not do justice to such a large area.
                    Today HIMserve works in 3 major geographical areas (Darjeeling, Kalimpong and Dooars), partnering with 80 partners,
                    covering 104 Nepali speaking communities in North Bengal.
                </p>
            </div>
            <div class="col-md-4">
                <div class="about-img">

                    <div class="about-back-img">
                        <img src="assets/img/staffs/amandaryan.jpg" class="img-fluid" />

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Law End-->
<!-- Want To work -->
<section class="service-area pt-10">
    <div class="container">
        <div class="wants-wrapper w-padding section-bg">
            <div class="row align-items-center justify-content-between">
                <div class="col-md-4">
                    <div id="menu-work-areas" onclick="displayAboutSection('work-areas');" class="single-cat active text-center border">
                        <div class="cat-cap-custom">
                            <h5><a href="#work-areas">Work Areas</a></h5>
                            <p>Explore our Work Areas</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div id="menu-staffs" onclick="displayAboutSection('staffs');" class="single-cat text-center border">

                        <div class="cat-cap-custom">
                            <h5><a href="#staffs">Staffs</a></h5>
                            <p>Know our staffs</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div id="menu-partners" onclick="displayAboutSection('partners');" class="single-cat text-center border">

                        <div class="cat-cap-custom">
                            <h5><a href="#partners">Partners</a></h5>
                            <p>Explore our Partners</p>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div id="work-areas" style="display:block" class="col-sm-12">
                    <div class="mt-3">
                        <div class="card">
                            
                            <div class="card-body">
                                <div class="col-sm-12 mt-3">
                                    <h2 class="font-weight-bold">Region of Service</h2>
                                    <hr />
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead class="bg-custom">
                                                <tr>
                                                    <td><b class="text-white">Areas</b></td>
                                                    <td><b class="text-white">Kalimpong</b></td>
                                                    <td><b class="text-white">Dooars</b></td>
                                                    <td><b class="text-white">Darjeeling</b></td>
                                                    <td><b class="text-white">TOTAL</b></td>
                                                </tr>

                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <b>Village</b>

                                                    </td>
                                                    <td>
                                                        33
                                                    </td>
                                                    <td>
                                                        38
                                                    </td>
                                                    <td>
                                                        33
                                                    </td>

                                                    <td>
                                                        104
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <b>Household</b>
                                                    </td>
                                                    <td>
                                                        3108
                                                    </td>
                                                    <td>
                                                        2659
                                                    </td>
                                                    <td>
                                                        2931
                                                    </td>

                                                    <td>
                                                        8698
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <b>Population</b>
                                                    </td>
                                                    <td>
                                                        15521
                                                    </td>
                                                    <td>
                                                        13654
                                                    </td>
                                                    <td>
                                                        14592
                                                    </td>

                                                    <td>
                                                        43767
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>    
                                    </div>
                                    
                                </div>
                               
                            </div>
                            
                        </div>
                       
                        <img src="~/assets/img/HIMserveWorkingMaps_3D.jpg" style="width:100% !important" />

                    </div>

                </div>
                <div id="staffs" style="display:none" class="col-sm-12">
                    <div class="mt-5">
                        <div class="">
                            <div class="row">
                                 
                                <div class="col-lg-2 col-md-3 col-sm-4">
                                    <div class="single-team card text-center mb-30">
                                        <div class="team-img">
                                            <img src="assets/img/staffs/Puran photo.jpg" class="img-fluid" style="max-height:192px; max-width:168px" alt="">

                                        </div>
                                        <div class="team-caption">
                                            <h3 class="pt-3 pb-3"><a href="#">Puran Rai</a></h3>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-4">
                                    <div class="single-team text-center card mb-30">
                                        <div class="team-img">
                                            <img src="assets/img/staffs/anjaliSharma.png" class="img-fluid" style="max-height:192px; max-width:168px" alt="">

                                        </div>
                                        <div class="team-caption">
                                            <h3 class="pt-3 pb-3"><a>Anjali Sharma</a></h3>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-4">
                                    <div class="single-team text-center card mb-30">
                                        <div class="team-img">
                                            <img src="assets/img/staffs/Amardeep Rana.jpg" class="img-fluid" style="max-height:192px; max-width:168px" alt="">

                                        </div>
                                        <div class="team-caption">
                                            <h3 class="pt-3 pb-3"><a>Amardeep Rana</a></h3>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-2 col-md-3 col-sm-4">
                                    <div class="single-team text-center card mb-30">
                                        <div class="team-img">
                                            <img src="assets/img/staffs/Elina Soren.jpg" class="img-fluid" style="max-height:192px; max-width:168px" alt="">

                                        </div>
                                        <div class="team-caption">
                                            <h3 class="pt-3 pb-3"><a>Elina Soren</a></h3>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-2 col-md-3 col-sm-4">
                                    <div class="single-team text-center card mb-30">
                                        <div class="team-img">
                                            <img src="assets/img/staffs/Lalita Bhujel.jpg" class="img-fluid" style="max-height:192px; max-width:168px" alt="">

                                        </div>
                                        <div class="team-caption">
                                            <h3 class="pt-3 pb-3"><a>Lalita Bhujel</a></h3>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-4">
                                    <div class="single-team text-center card mb-30">
                                        <div class="team-img">
                                            <img src="assets/img/staffs/Om Kumar Thapa.jpg" class="img-fluid" style="max-height:192px; max-width:168px" alt="">

                                        </div>
                                        <div class="team-caption">
                                            <h3 class="pt-3 pb-3"><a>Om Kumar Thapa</a></h3>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-4">
                                    <div class="single-team text-center card mb-30">
                                        <div class="team-img">
                                            <img src="assets/img/staffs/Pranay.jpg" class="img-fluid" style="max-height:192px; max-width:168px" alt="">

                                        </div>
                                        <div class="team-caption">
                                            <h3 class="pt-3 pb-3"><a>Pranay</a></h3>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-4">
                                    <div class="single-team text-center card mb-30">
                                        <div class="team-img">
                                            <img src="assets/img/staffs/Rajesh Thapa.jpg" class="img-fluid" style="max-height:192px; max-width:168px" alt="">

                                        </div>
                                        <div class="team-caption">
                                            <h3 class="pt-3 pb-3"><a>Rajesh Thapa</a></h3>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-4">
                                    <div class="single-team text-center card mb-30">
                                        <div class="team-img">
                                            <img src="assets/img/staffs/Sheila Subba.jpg" class="img-fluid" style="max-height:192px; max-width:168px" alt="">

                                        </div>
                                        <div class="team-caption">
                                            <h3 class="pt-3 pb-3"><a>Sheila Subba</a></h3>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-4">
                                    <div class="single-team text-center card mb-30">
                                        <div class="team-img">
                                            <img src="assets/img/staffs/Shusila Chamling.jpg" class="img-fluid" style="max-height:192px; max-width:168px" alt="">

                                        </div>
                                        <div class="team-caption">
                                            <h3 class="pt-3 pb-3"><a>Shusila Chamling</a></h3>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-4">
                                    <div class="single-team text-center card mb-30">
                                        <div class="team-img">
                                            <img src="assets/img/staffs/Yuden.jpg" class="img-fluid" style="max-height:192px; max-width:168px" alt="">

                                        </div>
                                        <div class="team-caption">
                                            <h3 class="pt-3 pb-3"><a>Yuden</a></h3>

                                        </div>
                                    </div>
                                </div>

                                <div class="clearfix"></div>
                                <div class="col-sm-12 text-center">
                                    <h2 class="font-weight-bold">Community Facilitators</h2>
                                    <div class="mt-5">
                                        <img class="img-fluid" src="~/assets/img/staffs/WhatsApp Image 2020-08-19 at 10.23.43.jpeg" />
                                    </div>

                                </div>
                                <div class="clearfix"></div>
                                <div class="col-sm-12 mt-5 card">
                                    <div class="row pt-5">
                                        <div class="col-sm-12 text-center">
                                            <h1 class="font-weight-bold">
                                                Organizational
                                            </h1>
                                            <hr />
                                        </div>
                                        <div class="col-md-4 col-sm-12">
                                            <div class="">
                                              
                                                <p><b>Administration</b></p>

                                                <p>
                                                    Executive Director: Puran Rai<br />
                                                    Finance & Hostel Manager: Pranay Sundas<br />
                                                    Support Staff: Elena Soren<br />
                                                   
                                                </p> 
                                            </div>
                                        </div>
                                        <div class="col-md-4 col-sm-12">
                                            <p><b>Area Facilitators</b></p>

                                            <p>
                                                Dooars Area: Rajesh Thapa
                                                <br />
                                                Kalimpong Area: Sheila Subba
                                                <br />
                                                Darjeeling Area: Om Kumar Thapa
                                            </p>
                                        </div>
                                        <div class="col-md-4 col-sm-12">
                                            <p><b>Project Facilitators </b></p>

                                            <p><b>Holistic Teaching:</b> Rajesh Thapa<br />
                                            <p>
                                                <b>Health: </b>  
                                                Sushila Rai 
                                                
                                                 
                                            </p>
                                            <p>
                                                <b>Education:</b>
                                               
                                               
                                                Amardeep Rana
                                            </p>
                                            <p>
                                                <b>Agriculture:</b> Om Kumar Thapa
                                            </p>
                                            <p>
                                                <b>Networking: </b> Sheila Subba
                                            </p>
                                            <p>
                                                <b>Communication: </b> Anjali Sharma
                                            </p>
                                            <p>
                                                <b>Monitoring: </b> Lalita Bhujel
                                            </p>
                                            <p>
                                                <b>Human Trafficking: </b> Yuden Lepcha
                                            </p>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="col-sm-12 mt-5 card">
                                    <div class="row pt-5">
                                        <div class="col-sm-12 text-center">
                                            <h1 class="font-weight-bold">Community Based</h1>
                                            <hr />
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <p><b>Community Facilitators</b></p>
                                            <p>
                                                <b>Dooars Area: </b>
                                                 
                                                <br />
                                                Rajabhatkhawa - Samuel Dukpa<br />
                                                Lankapara - Roshan Lama<br />
                                                Kumai - Biswas Bhujel
                                            </p>
                                            <p>
                                                <b>Kalimpong Area: </b><br />
                                                Block 3 - Akela Lepcha<br />
                                              
                                                Block 2 - Philip Lepcha
                                            </p>
                                            <p>
                                                <b>Darjeeling Area: </b><br />
                                                Daragaon - Ruben Rai<br />
                                                Bichgaon & Sepi - Suren Rai
                                                <br />
                                                Hatta - Dhiraj Rai
                                            </p>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <p><b>Ambulance Staff</b> </p>
                                            <p>
                                                <b>Drivers</b><br />
                                                Git Dubling (Budhabarey) - Saran Lepcha<br />
                                                Nimbong (Barbote) - Purna Tamang & Suren Tamang<br />
                                                Rimbick (Sepi) - Dinesh Rai<br />

                                                Lungshel - Samuel Lepcha<br />
                                                Matri Yaan (Gitdubling) - Piyus Lepcha
                                            </p>
                                            <p><b>Grace Student's Hostel Staff</b> </p>
                                            <p>
                                                <b>Warden - </b>Asit Rai<br />
                                                <b>Assistant - </b> Hissey Dukpa<br />
                                                <b>Cook - </b> Dilip Rai Majhi<br />
                                            </p>
                                            <p><b>Health Clinics</b></p>
                                            <p>
                                                <b>Chunabhatti - </b> Phupjam Dukpa & Nasim Dukpa<br />
                                                <b>Lungshel - </b> Jaimit Lepcha & Pramila Lepcha<br />
                                                <b>Daragaon - </b> Devi Rai, Kausila Rai & Sabita Rai
                                            </p>
                                            <p><b>Redstar Academy (Daragaon)</b></p>
                                            <p>
                                                <b>Headmaster - </b> Binod Rai 
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>  
                <div id="partners" style="display:none" class="col-sm-12">
                    <div class="mt-3">
                        <img src="~/assets/img/HIMserveWorkingMaps_3D.jpg" style="width:100% !important" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 
<section class="team-area pt-160 pb-160 bg-white">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <iframe  style="width:100% !important; height:500px;" src="https://www.youtube.com/embed/ltF6M8lTeCI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
        <div class="row justify-content-center pt-5">
            <div class="col-xl-6 col-lg-7 col-md-10 col-sm-10">
                <!-- Section Tittle -->
                <div class="section-tittle section-tittle2 text-center mb-70">
                    <span>Strength of HIMserve</span>
                    <h2>Our Board of Directors</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-team mb-30">
                    <div class="team-img">
                        <img src="assets/img/staffs/nagendrarai.jpeg" style="max-width:270px; max-height:340px" alt="">

                    </div>
                    <div class="team-caption">
                        <h3><a href="#">Nagendra Rai</a></h3>
                        <p>Member</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-team mb-30">
                    <div class="team-img">
                        <img src="assets/img/staffs/Jaibhaktarai.jpeg" style="max-width:270px; min-height:340px; max-height:340px" alt="">

                    </div>
                    <div class="team-caption">
                        <h3><a href="#">Jai Bhakta Rai</a></h3>
                        <p>Member</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-team mb-30">
                    <div class="team-img">
                        <img src="assets/img/staffs/Puran photo.jpg" style="max-width:270px; min-height:340px; max-height:340px" alt="">

                    </div>
                    <div class="team-caption">
                        <h3><a href="#">Puran Rai</a></h3>
                        <p>Member</p>
                    </div>
                </div>
            </div>
           

        </div>
    </div>
</section>

@section Scripts {
    <script src="~/assets/js/angular.min.js"></script>
<script type="text/javascript">
   
</script>
} 
