@{
    ViewData["Title"] = "Home Page";
}

<div class="slider-area">
    <div class="slider-active">
        <div class="single-slider slider-height d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-8 col-sm-10">
                        <div class="hero__caption">
                            <h1 data-animation="fadeInUp" data-delay=".6s">Working together for<br>better future.</h1>
                            <P data-animation="fadeInUp" data-delay=".8s">
                                We seek to find holistic solutions for the problems which continue to plague the Himalayan region.
                            </P>
                            <div class="hero__btn">
                                <a href="#projects" class="btn hero-btn mb-10" data-animation="fadeInLeft" data-delay=".8s">Our Projects</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Single Slider -->
        <div class="single-slider slider-height d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-8 col-sm-10">
                        <div class="hero__caption">
                            <h1 data-animation="fadeInUp" data-delay=".6s">through income generating<br>opportunities</h1>
                            <P data-animation="fadeInUp" data-delay=".8s">
                                &nbsp;
                            </P>
                            <div class="hero__btn">
                                <a asp-action="About" asp-controller="Home" class="btn hero-btn mb-10" data-animation="fadeInLeft" data-delay=".8s">Know more</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="single-slider slider-height d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-8 col-sm-10">
                        <div class="hero__caption">
                            <h1 data-animation="fadeInUp" data-delay=".6s">through Emergency Medical<br>services</h1>
                            <P data-animation="fadeInUp" data-delay=".8s">
                                &nbsp;
                            </P>
                            <div class="hero__btn">
                                <a asp-action="About" asp-controller="Home" class="btn hero-btn mb-10" data-animation="fadeInLeft" data-delay=".8s">Know more</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider slider-height d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-8 col-sm-10">
                        <div class="hero__caption">
                            <h1 data-animation="fadeInUp" data-delay=".6s">through Community based <br>Health Solution</h1>
                            <P data-animation="fadeInUp" data-delay=".8s">
                                &nbsp;
                            </P>
                            <div class="hero__btn">
                                <a asp-action="About" asp-controller="Home" class="btn hero-btn mb-10" data-animation="fadeInLeft" data-delay=".8s">Know more</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="single-slider slider-height d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-8 col-sm-10">
                        <div class="hero__caption">
                            <h1 data-animation="fadeInUp" data-delay=".6s">through Adult Literacy<br>Program</h1>
                            <P data-animation="fadeInUp" data-delay=".8s">
                                &nbsp;
                            </P>
                            <div class="hero__btn">
                                <a asp-action="About" asp-controller="Home" class="btn hero-btn mb-10" data-animation="fadeInLeft" data-delay=".8s">Know more</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider slider-height d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-8 col-sm-10">
                        <div class="hero__caption">
                            <h1 data-animation="fadeInUp" data-delay=".6s">through Animal<br>Husbandary</h1>
                            <P data-animation="fadeInUp" data-delay=".8s">
                                &nbsp;
                            </P>
                            <div class="hero__btn">
                                <a asp-action="About" asp-controller="Home" class="btn hero-btn mb-10" data-animation="fadeInLeft" data-delay=".8s">Know more</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider slider-height d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-8 col-sm-10">
                        <div class="hero__caption">
                            <h1 data-animation="fadeInUp" data-delay=".6s">through Veternary <br>Services</h1>
                            <P data-animation="fadeInUp" data-delay=".8s">
                                &nbsp;
                            </P>
                            <div class="hero__btn">
                                <a asp-action="About" asp-controller="Home" class="btn hero-btn mb-10" data-animation="fadeInLeft" data-delay=".8s">Know more</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider slider-height d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-8 col-sm-10">
                        <div class="hero__caption">
                            <h1 data-animation="fadeInUp" data-delay=".6s">Working with <br>remote communities</h1>
                            <P data-animation="fadeInUp" data-delay=".8s">
                                &nbsp;
                            </P>
                            <div class="hero__btn">
                                <a asp-action="About" asp-controller="Home" class="btn hero-btn mb-10" data-animation="fadeInLeft" data-delay=".8s">Know more</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider slider-height d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-8 col-sm-10">
                        <div class="hero__caption">
                            <h1 data-animation="fadeInUp" data-delay=".6s">through Agricultural <br>Communities</h1>
                            <P data-animation="fadeInUp" data-delay=".8s">
                                &nbsp;
                            </P>
                            <div class="hero__btn">
                                <a asp-action="About" asp-controller="Home" class="btn hero-btn mb-10" data-animation="fadeInLeft" data-delay=".8s">Know more</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider slider-height d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-8 col-sm-10">
                        <div class="hero__caption">
                            <h1 data-animation="fadeInUp" data-delay=".6s">Introduction of<br>new corps</h1>
                            <P data-animation="fadeInUp" data-delay=".8s">
                                &nbsp;
                            </P>
                            <div class="hero__btn">
                                <a asp-action="About" asp-controller="Home" class="btn hero-btn mb-10" data-animation="fadeInLeft" data-delay=".8s">Know more</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider slider-height d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-8 col-sm-10">
                        <div class="hero__caption">
                            <h1 data-animation="fadeInUp" data-delay=".6s">through Health<br>Awareness & education.</h1>
                            <P data-animation="fadeInUp" data-delay=".8s">
                                &nbsp;
                            </P>
                            <!-- Hero-btn -->
                            <div class="hero__btn">
                                <a asp-action="About" asp-controller="Home" class="btn hero-btn mb-10" data-animation="fadeInLeft" data-delay=".8s">Know more</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider slider-height d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-8 col-sm-10">
                        <div class="hero__caption">
                            <h1 data-animation="fadeInUp" data-delay=".6s">through creation of <br>Smokeless Stoves.</h1>
                            <P data-animation="fadeInUp" data-delay=".8s">
                                &nbsp;
                            </P>
                            <!-- Hero-btn -->
                            <div class="hero__btn">
                                <a asp-action="About" asp-controller="Home" class="btn hero-btn mb-10" data-animation="fadeInLeft" data-delay=".8s">Know more</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider slider-height d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-8 col-sm-10">
                        <div class="hero__caption">
                            <h1 data-animation="fadeInUp" data-delay=".6s">through a dedicated<br>Team.</h1>
                            <P data-animation="fadeInUp" data-delay=".8s">
                                &nbsp;
                            </P>
                            <div class="hero__btn">
                                <a asp-action="About" asp-controller="Home" class="btn hero-btn mb-10" data-animation="fadeInLeft" data-delay=".8s">Know more</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider slider-height d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-8 col-sm-10">
                        <div class="hero__caption">
                            <h1 data-animation="fadeInUp" data-delay=".6s">through Community based<br>groups.</h1>
                            <P data-animation="fadeInUp" data-delay=".8s">
                                &nbsp;
                            </P>
                            <!-- Hero-btn -->
                            <div class="hero__btn">
                                <a asp-action="About" asp-controller="Home" class="btn hero-btn mb-10" data-animation="fadeInLeft" data-delay=".8s">Know more</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider slider-height d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-8 col-sm-10">
                        <div class="hero__caption">
                            <h1 data-animation="fadeInUp" data-delay=".6s">Creating access to<br>clean drinking water.</h1>
                            <P data-animation="fadeInUp" data-delay=".8s">
                                &nbsp;
                            </P>
                            <!-- Hero-btn -->
                            <div class="hero__btn">
                                <a asp-action="About" asp-controller="Home" class="btn hero-btn mb-10" data-animation="fadeInLeft" data-delay=".8s">Know more</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- slider Area End-->

<div class="our-cases-area section-padding30" id="projects">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-7 col-md-10 col-sm-10">
                <!-- Section Tittle -->
                <div class="section-tittle text-center mb-80">
                    <span>What we are doing</span>
                    <h2>Explore our latest causes that we work</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-cases mb-40">
                    <div class="cases-img">
                        <img src="~/assets/img/agri.jpg" alt="" class="img-custom">
                    </div>
                    <div class="cases-caption">
                        <h3>
                            <a asp-action="Index" asp-controller="Services" asp-route-service="agriculture">
                                Agriculture and Animal Husbandry
                            </a>
                        </h3>

                        @*<div class="prices d-flex justify-content-between">
                       <p>
                           <a asp-action="Index" class="btn border-primary white-btn sm-left" asp-controller="Services" asp-route-services="agriculture">know more</a>
                       </p>
                    </div>*@
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-cases mb-40">
                    <div class="cases-img">
                        <img src="~/assets/img/rural_education.jpg" alt="" class="img-custom">
                    </div>
                    <div class="cases-caption">
                        <h3>
                            <a asp-action="Index" asp-controller="Services" asp-route-service="rural-education">
                                Rural Education & Teacher's Training
                            </a>
                        </h3>

                        @*<div class="prices d-flex justify-content-between">
                       <p>
                           <a asp-action="Index" class="btn border-primary white-btn sm-left" asp-controller="Services" asp-route-services="agriculture">know more</a>
                       </p>
                    </div>*@
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-cases mb-40">
                    <div class="cases-img">
                        <img src="~/assets/img/healthresouceces.jpg" alt="" class="img-custom">
                    </div>
                    <div class="cases-caption">
                        <h3>
                            <a asp-action="Index" asp-controller="Services" asp-route-service="health-resource-library">
                                Himalayan Health Resource Library
                            </a>
                        </h3>

                        @*<div class="prices d-flex justify-content-between">
                       <p>
                           <a asp-action="Index" class="btn border-primary white-btn sm-left" asp-controller="Services" asp-route-services="agriculture">know more</a>
                       </p>
                    </div>*@
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-cases mb-40">
                    <div class="cases-img">
                        <img src="~/assets/img/child.jpg" alt="" class="img-custom">
                    </div>
                    <div class="cases-caption">
                        <h3>
                            <a asp-action="Index" asp-controller="Services" asp-route-service="child">
                                Children & Teens Training
                            </a>
                        </h3>

                        @*<div class="prices d-flex justify-content-between">
                       <p>
                           <a asp-action="Index" class="btn border-primary white-btn sm-left" asp-controller="Services" asp-route-services="agriculture">know more</a>
                       </p>
                    </div>*@
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-cases mb-40">
                    <div class="cases-img">
                        <img src="~/assets/img/graceHostel.jpeg" alt="" class="img-custom">
                    </div>
                    <div class="cases-caption">
                        <h3>
                            <a asp-action="Index" asp-controller="Services" asp-route-service="grace-student">
                                Grace Student's Hostel
                            </a>
                        </h3>

                        @*<div class="prices d-flex justify-content-between">
                       <p>
                           <a asp-action="Index" class="btn border-primary white-btn sm-left" asp-controller="Services" asp-route-services="agriculture">know more</a>
                       </p>
                    </div>*@
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-cases mb-40">
                    <div class="cases-img">
                        <img src="~/assets/img/emergencyRelief.jpeg" alt="" class="img-custom">
                    </div>
                    <div class="cases-caption">
                        <h3>
                            <a asp-action="Index" asp-controller="Services" asp-route-service="emergency-relief-service">
                                Emergency Relief Service
                            </a>
                        </h3>

                        @*<div class="prices d-flex justify-content-between">
                       <p>
                           <a asp-action="Index" class="btn border-primary white-btn sm-left" asp-controller="Services" asp-route-services="agriculture">know more</a>
                       </p>
                    </div>*@
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-cases mb-40">
                    <div class="cases-img">
                        <img src="~/assets/img/holisticTraining.jpeg" alt="" class="img-custom">
                    </div>
                    <div class="cases-caption">
                        <h3>
                            <a asp-action="Index" asp-controller="Services" asp-route-service="holistic-training">
                                Holistic Training
                            </a>
                        </h3>

                        @*<div class="prices d-flex justify-content-between">
                       <p>
                           <a asp-action="Index" class="btn border-primary white-btn sm-left" asp-controller="Services" asp-route-services="agriculture">know more</a>
                       </p>
                    </div>*@
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-cases mb-40">
                    <div class="cases-img">
                        <img src="~/assets/img/medicalscholorship.jpeg" alt="" class="img-custom">
                    </div>
                    <div class="cases-caption">
                        <h3>
                            <a asp-action="Index" asp-controller="Services" asp-route-service="medical-scholorship">
                                Medical Scholarship Program
                            </a>
                        </h3>

                        @*<div class="prices d-flex justify-content-between">
                       <p>
                           <a asp-action="Index" class="btn border-primary white-btn sm-left" asp-controller="Services" asp-route-services="agriculture">know more</a>
                       </p>
                    </div>*@
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-cases mb-40">
                    <div class="cases-img">
                        <img src="~/assets/img/water_projects.jpg" alt="" class="img-custom">
                    </div>
                    <div class="cases-caption">
                        <h3>
                            <a asp-action="Index" asp-controller="Services" asp-route-service="special-projects">
                                Special Projects
                            </a>
                        </h3>

                        @*<div class="prices d-flex justify-content-between">
                       <p>
                           <a asp-action="Index" class="btn border-primary white-btn sm-left" asp-controller="Services" asp-route-services="agriculture">know more</a>
                       </p>
                    </div>*@
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-cases mb-40">
                    <div class="cases-img">
                        <img src="~/assets/img/village_devlopment.jpg" alt="" class="img-custom">
                    </div>
                    <div class="cases-caption">
                        <h3>
                            <a asp-action="Index" asp-controller="Services" asp-route-service="village-development">
                                Village Development Committees
                            </a>
                        </h3>

                        @*<div class="prices d-flex justify-content-between">
                       <p>
                           <a asp-action="Index" class="btn border-primary white-btn sm-left" asp-controller="Services" asp-route-services="agriculture">know more</a>
                       </p>
                    </div>*@
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-cases mb-40">
                    <div class="cases-img">
                        <img src="~/assets/img/health.jpg" alt="" class="img-custom">
                    </div>
                    <div class="cases-caption">
                        <h3>
                            <a asp-action="Index" asp-controller="Services" asp-route-service="community-health">
                                Community Health Volunteers Training
                            </a>
                        </h3>

                        @*<div class="prices d-flex justify-content-between">
                       <p>
                           <a asp-action="Index" class="btn border-primary white-btn sm-left" asp-controller="Services" asp-route-services="agriculture">know more</a>
                       </p>
                    </div>*@
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<section class="about-low-area section-padding2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-10">
                <div class="about-caption mb-50">
                    <div class="section-tittle mb-35">
                        <span>About our foundation</span>
                        <h2>Unifying & empowering organisations to serve their communities.</h2>
                    </div>
                    <p>
                        At HIMserve, we seek to find holistic solutions for the problems which continue to plague the Himalayan region.
                    </p><p>
                        Decades of political unrest, frequent natural disasters, epidemics, formidable geographic barriers, weak infrastructure and lack of access to quality education & health care have left the people of the Himalayas resigned to accept a stark existence.
                    </p>
                </div>
                <a asp-action="About" asp-controller="Home" class="btn">About us</a>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about-img ">
                    <div class="about-font-img d-none d-lg-block">
                        <img src="assets/img/rural_education.jpg" alt="">
                    </div>
                    <div class="about-back-img ">
                        <img src="assets/img/child.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="wantToWork-area">
    <div class="container">

        <div class="team-area pt-160 pb-50">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-7 col-md-10 col-sm-10">
                        <!-- Section Tittle -->
                        <div class="section-tittle section-tittle2 text-center mb-70">
                            <span>Our Strength</span>
                            <h2>Our Experts are always ready</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img src="assets/img/allStaffs_himserve.png" alt="">

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>
</section>
<section class="contact-section">
    <div class="container">

        <div class="row">
            <div class="col-12">
                <h2 class="contact-title">Contact us</h2>
            </div>
            <div class="col-lg-8">
                <form class="form-contact contact_form" id="contactForm" novalidate="novalidate">
                    <div class="row">

                        <div class="col-sm-6">
                            <div class="form-group">
                                <input class="form-control valid" name="name" id="name" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" placeholder="Enter your name">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input class="form-control valid" name="email" id="email" type="email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" placeholder="Email">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <input class="form-control" name="subject" id="subject" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Subject'" placeholder="Enter Subject">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <textarea class="form-control w-100" name="message" id="message" cols="30" rows="9" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Message'" placeholder="Enter Message"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <button type="button" onclick="contact();" class="button button-contactForm boxed-btn">Send</button>
                    </div>
                </form>
            </div>
            <div class="col-lg-3 offset-lg-1">
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-home"></i></span>
                    <div class="media-body">
                        <h3>19/A Nivedita Road Bylane</h3>
                        <p>P.O. Pradhan Nagar, Siliguri 734003, Dist. Darjeeling, West Bengal, India.</p>
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                    <div class="media-body">
                        <h3>+91 9434380752</h3> 
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-email"></i></span>
                    <div class="media-body">
                        <h3>himserve@gmail.com</h3>
                        <p>Send us your query anytime!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="wants-wrapper w-padding2  section-bg" data-background="assets/img/gallery/section_bg01.png">
    <div class="container">
        <div class="row align-items-center justify-content-between">

            <div class="col-xl-7 col-lg-9 col-md-8">
                <div class="wantToWork-caption wantToWork-caption2">
                    <h1 class="text-white">Help us achieve our mission of serving Humanity</h1>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4">
                <a asp-action="Donate" asp-controller="Home" class="btn white-btn f-right sm-left">Donate Now</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<script type="text/javascript">
    function contact() {
        if ($('#name').val() == "") {
            $("#name").addClass("border-danger");
            $("#name").focus();
        }
        else if ($("#email").val() == "") {
            $("#email").addClass("border-danger");
            $("#email").focus();
        }
        else if ($("#message").val() == "") {
            $("#message").addClass("border-danger");
            $("#message").focus();
        }
        else if ($("#subject").val() == "") {
            $("#message").addClass("border-danger");
            $("#message").focus();
        }
        else {
            var datas = {
                name: $("#name").val(),
                email: $("#email").val(),
                subject: $("#subject").val(),
                message: $("#message").val()

            };
            $.ajax({
                url: '/home/contact',
                data: datas,
                type: "POST",
                success: function (res) {
                    if (res.success) {
                        swal.fire(res.message);
                        $("#contactForm").resetForm();
                    }
                    else
                        swal.fire(res.message);
                },
                error: function (res) {
                    swal.fire("Some Error occurred. Please try again later. ");
                }
            })
        }
    }
</script>
}