@{
    ViewData["Title"] = "Birth Emergencies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="service-area pt-70 bg-white">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-xl-6 col-lg-7 col-md-7 col-sm-12">
                <!-- Section Tittle -->
                <div class="section-tittle text-left mb-80">
                    <span>Birth Emergencies</span>
                    <h2>Neonatal Resuscitation: Home Setting</h2>
                    <p>
                      
                        This film demonstrates correct delivery and care of a neborn and This film teaches the key steps to follow immediately after the delivery of a newborn who 
                        is not breathing in case it could not take place at a health centre. It insists on the importance of drying the baby and teaches how to put the baby’s 
                        head in the neutral position, in order to open the airway, and how to perform mouth-to-mouth. Shot in Africa. ENGLISH, LIVE ACTION & ANIMATION.
                    </p>
                </div>
            </div>
            <div class="col-sm-12 col-md-5 col-xl-5">
                <div class="text-center mb-50">
                    <iframe title="vimeo-player" src="https://player.vimeo.com/video/39256734" width="600" height="300" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="text-left mb-50">
                    <iframe title="vimeo-player" src="https://player.vimeo.com/video/72723118" width="600" height="300" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <!-- Section Tittle -->
                <div class="section-tittle text-left mb-80">

                    <h2>
                        Neonatal Resuscitation: Hospital Setting
                    </h2>
                    <p>
                        This film demonstrates correct delivery and care of a neborn and how to resuscitate a newborn that is not breathing using a bag and mask. ENGLISH, ANIMATION.
                    </p>
                </div>
            </div>

            <div class="col-xl-6 col-lg-7 col-md-7 col-sm-12">
                <!-- Section Tittle -->
                <div class="section-tittle text-left mb-80">

                    <h2>Manual Removal of Placenta</h2>
                    <p>
                       The film will speak about what retained placenta is, why it is important to be removed and the essential steps that need to be undertaken. 
                        Animation teaches the technique of the procedure much more effectively, 
                        showing how one hand is placed on the fundus of the uterus while the other carefully works around the edge of the placenta gradually separating it then removing it for the uterus. 
                        Shot in Africa ENGLISH, LIVE ACTION & ANIMATION.
                    </p>
                </div>
            </div>
            <div class="col-sm-12 col-md-5 col-xl-5">
                <div class="text-center mb-50">
                    <iframe title="vimeo-player" src="https://player.vimeo.com/video/72407733" width="600" height="300" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="blog-area bg-light justify-content-around">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-sm-12 mt-5 mb-5 text-center">
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="publications">
                    Publications
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="nutrition">
                    Nutrition
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="chw-skills">
                    CHW Skills
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="first-aid">
                    First Aid
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="sick-children">
                    Sick Children
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="facts-for-life">
                    Facts for Life
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="birth-emergency">
                    Birth Emergency
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="safe-motherhood">
                    Safe Motherhood
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="hygiene-sanitization">
                    Hygiene Sanitization
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="newborn-care">
                    Newborn Care
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="mobile-apps">
                    Mobile Apps
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="online-resources">
                    Online Resources
                </a>
            </div>
        </div>
    </div>
</div>