@{
    ViewData["Title"] = "CHW Skills";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="service-area pt-70 bg-white">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-7 col-md-10 col-sm-10">
                <!-- Section Tittle -->
                <div class="section-tittle text-center mb-80">
                     <span>Health Resource</span>
                    <h2>CHW Skills</h2>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">

            <div class="col-sm-12 col-md-5 col-xl-5">
                <div class="text-center mb-80">
                    <iframe width="480" height="270" src="https://www.youtube.com/embed/BajvNscpuVs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h2>Thermometer Basics - Nepali</h2>
                </div>
            </div>

            <div class="col-sm-12 col-md-5 col-xl-5">
                <div class="text-center mb-80">
                    <iframe width="480" height="270" src="https://www.youtube.com/embed/Y-5syFBgrCw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h2>Taking a Pulse - Nepali</h2>
                </div>
            </div>

            <div class="col-sm-12 col-md-5 col-xl-5"> 
                <div class="text-center mb-80">
                    <iframe width="480" height="270" src="https://www.youtube.com/embed/Rfk1pDDojdc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    <h2>Hand Washing - Nepali</h2>

                </div>
            </div>
           
            <div class="col-sm-12 col-md-5 col-xl-5">
                <div class="text-center mb-80">
                    <iframe width="480" height="270" src="https://www.youtube.com/embed/3pM74PkhRa0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    <h2>Fever Care - Nepali</h2>
                </div>
            </div>

            <div class="col-sm-12 col-md-5 col-xl-5">
                <div class="text-center mb-80">
                    <iframe width="480" height="270" src="https://www.youtube.com/embed/S_zJWjfWid0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    <h2>Cleaning a Wound - Nepali</h2>
                </div>
            </div>
           
             

            <div class="col-sm-12 col-md-5 col-xl-5">
                <div class="text-center mb-80">
                    <iframe width="480" height="270" src="https://www.youtube.com/embed/IjxqJXACVrs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    <h2>Tuberculosis (T.B) Care - Nepali</h2>
                </div>
            </div>

            <div class="col-sm-12 col-md-5 col-xl-5">
                <div class="text-center mb-80">
                    <iframe width="480" height="270" src="https://www.youtube.com/embed/FegGYD-QeNY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    <h2>Jaundice Care - Nepali</h2>
                </div>
            </div>
            
            <div class="col-sm-12 col-md-5 col-xl-5">
                <div class="text-center mb-80">
                    <iframe width="480" height="270" src="https://www.youtube.com/embed/-vZiwTjd9qM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    <h2>Vomitting Care - Nepali</h2>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="blog-area bg-light justify-content-around">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-sm-12 mt-5 mb-5 text-center">
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="publications">
                    Publications
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="nutrition">
                    Nutrition
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="chw-skills">
                    CHW Skills
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="first-aid">
                    First Aid
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="sick-children">
                    Sick Children
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="facts-for-life">
                    Facts for Life
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="birth-emergency">
                    Birth Emergency
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="safe-motherhood">
                    Safe Motherhood
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="hygiene-sanitization">
                    Hygiene Sanitization
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="newborn-care">
                    Newborn Care
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="mobile-apps">
                    Mobile Apps
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="online-resources">
                    Online Resources
                </a>
            </div>
        </div>
    </div>
</div>