<div class="slider-area" style="background-image: url('/assets/img/hero/community-health-volunterring-banner.png');">
    <div class="slider-active">
        <div class="single-slider slider-height d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-8 col-sm-10">
                        <div class="hero__caption">
                            <h1 data-animation="fadeInUp" data-delay=".6s">Community Health <br />Volunteering</h1>
                            <P data-animation="fadeInUp" data-delay=".8s">
                                In conjunction with our community partners we have now been involved in the training of 250 health workers!
                            </P>
                            <div class="hero__btn">
                                <a href="#section-more" class="btn hero-btn mb-10" data-animation="fadeInLeft" data-delay=".8s">Our Works &rsaquo;</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div id="section-more" class="service-area pt-70 pb-50 bg-white">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-7 col-md-10 col-sm-10">
                <!-- Section Tittle -->
                <div class="section-tittle text-center mb-80">
                    <span>About the Program</span>
                    <h2>HIMserve Health Training Programs</h2>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-12 col-md-4">
                <div class="single-cat text-center border">

                    <div class="cat-cap">
                        <h5><a>Community Health Awareness</a></h5>
                        <p>
                            This program conveys basic life saving messages conducted at schools and community events.
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="single-cat active text-center border">
                    <div class="cat-cap">
                        <h5><a>Community Nurse/EMT</a></h5>
                        <p>
                            HIMserve selects willing and able candidates from isolated villages to train for 6 months as community nurses at Navjeevan Hospital, Gayaganga.
                            Two young men have trained as EMT (and now work on our ambulances) and 6 men and women have trained as Community nurses (and returned to serve their home communities).
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">

                <div class="single-cat text-center border">
                    <div class="cat-cap">
                        <h5><a>Community Health Volunteer/TBA</a></h5>
                        <p>
                            Trains village mothers in basic health and midwifery skills. The 40 day training is spread across 8 months and conducted in the trainee's home community.
                        </p>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>

        </div>
    </div>
</div>

<section class="featured-job-area section-padding30 section-bg2 bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-9 col-md-10 col-sm-12">
                <!-- Section Tittle -->
                <div class="section-tittle text-center mb-80">
                    <span>How we are helping</span>
                    <h2>Effects of Community Health Volunteering & TBA</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">

            <div class="col-lg-6 col-md-12">
                <!-- single-job-content -->
                <div class="single-job-items mb-30 bg-white">
                    <div class="job-items row mr-3">
                        <div class="company-img col-md-4 col-sm-12">
                            <img style="max-width:174px; max-height:178px" src="~/assets/img/gallery/community-health-volunteers/jyoti.jpg" />
                        </div>
                        <div class="job-tittle col-md-8 col-sm-12 text-md-left text-sm-center">
                            <h3>Young women can become powerful agents of change in their communities with quality training and community support.</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <!-- single-job-content -->
                <div class="single-job-items mb-30 bg-white">
                    <div class="job-items row mr-3">
                        <div class="company-img col-md-4 col-sm-12">

                            <img class="img-fluid" style="max-width:174px; max-height:178px" src="~/assets/img/gallery/community-health-volunteers/devaki.jpg" />

                        </div>
                        <div class="job-tittle col-md-8 col-sm-12 text-md-left text-sm-center">
                            <h3>
                                Devaki conducting a Community Awareness program in Sungurey
                            </h3>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <!-- single-job-content -->
                <div class="single-job-items mb-30 bg-white">
                    <div class="job-items row mr-3">
                        <div class="company-img col-md-4 col-sm-12">

                            <img style="max-width:174px; max-height:178px" src="~/assets/img/gallery/community-health-volunteers/dsc_0482.jpg" />

                        </div>
                        <div class="job-tittle col-md-8 col-sm-12 text-md-left text-sm-center">
                            <h3>Ryan giving a "refresher training" to Hayden Hall's paramedics</h3>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <!-- single-job-content -->
                <div class="single-job-items mb-30 bg-white">
                    <div class="job-items row mr-3">
                        <div class="company-img col-md-4 col-sm-12">
                            <img style="max-width:174px; max-height:178px" src="~/assets/img/gallery/community-health-volunteers/dsc_0511.jpg" />

                        </div>
                        <div class="job-tittle col-md-8 col-sm-12 text-md-left text-sm-center">
                            <h3>Trainees practice their skills.</h3>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <!-- single-job-content -->
                <div class="single-job-items mb-30 bg-white">
                    <div class="job-items row mr-3">
                        <div class="company-img col-md-4 col-sm-12">
                            <img style="max-width:174px; max-height:178px" src="~/assets/img/gallery/community-health-volunteers/img_0995.jpg" />

                        </div>
                        <div class="job-tittle col-md-8 col-sm-12 text-md-left text-sm-center">
                            <h3>Vishnu Maya is now able to give basic blood pressure checks.  Previously villagers had to travel an entire day for this simple service.</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <!-- single-job-content -->
                <div class="single-job-items mb-30 bg-white">
                    <div class="job-items row mr-3">
                        <div class="company-img col-md-4 col-sm-12">
                            <img style="max-width:174px; max-height:178px" src="~/assets/img/gallery/community-health-volunteers/img_1026.jpg" />

                        </div>
                        <div class="job-tittle col-md-8 col-sm-12 text-md-left text-sm-center">
                            <h3>Health Trainer Sushila Rai performs a primary health consultation.</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <!-- single-job-content -->
                <div class="single-job-items mb-30 bg-white">
                    <div class="job-items row mr-3">
                        <div class="company-img col-md-4 col-sm-12">
                            <img style="max-width:174px; max-height:178px" src="~/assets/img/gallery/community-health-volunteers/dsc_0755.jpg" />
                        </div>
                        <div class="job-tittle col-md-8 col-sm-12 text-md-left text-sm-center">
                            <h3>Sabita Rai works at a community built, owned and operated health center in the village of Daragaon.</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <!-- single-job-content -->
                <div class="single-job-items mb-30 bg-white">
                    <div class="job-items row mr-3">
                        <div class="company-img col-md-4 col-sm-12">
                            <img style="max-width:174px; max-height:178px" src="~/assets/img/gallery/community-health-volunteers/img_2094.jpg" />
                        </div>
                        <div class="job-tittle col-md-8 col-sm-12 text-md-left text-sm-center">
                            <h3>Ryan conducting Health Awareness for a school in Pemling</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <!-- single-job-content -->
                <div class="single-job-items mb-30 bg-white">
                    <div class="job-items row mr-3">
                        <div class="company-img col-md-4 col-sm-12">
                            <img style="max-width:174px; max-height:178px" src="~/assets/img/gallery/community-health-volunteers/trip slideshow (44)a-crop-u29342.jpg" />
                        </div>
                        <div class="job-tittle col-md-8 col-sm-12 text-md-left text-sm-center">
                            <h3>Community Health Volunteer trainings take place IN the community.</h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <!-- single-job-content -->
                <div class="single-job-items mb-30 bg-white">
                    <div class="job-items row mr-3">
                        <div class="company-img col-md-4 col-sm-12">
                            <img style="max-width:174px; max-height:178px" src="~/assets/img/gallery/community-health-volunteers/20130323_123023.jpg" />
                        </div>
                        <div class="job-tittle col-md-8 col-sm-12 text-md-left text-sm-center">
                            <h3>CHV/TBA trainees in Lankapara with Sushila DIdi.</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <!-- single-job-content -->
                <div class="single-job-items mb-30 bg-white">
                    <div class="job-items row mr-3">
                        <div class="company-img col-md-4 col-sm-12">

                            <img style="max-width:174px; max-height:178px" src="~/assets/img/gallery/community-health-volunteers/communityHealthVoluteering.jpg" alt="" />

                        </div>
                        <div class="job-tittle col-md-8 col-sm-12 text-md-left text-sm-center">
                            <h3>
                                Community Health Volunteer trainings take place in the community.
                            </h3>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="w-100"></div>
            </div>


        </div>
    </div>
</section>

<div class="service-area pt-70 bg-white" style="background-image:url('/assets/img/gallery/section_bg03.png'); background-repeat:no-repeat; background-size:contain">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-7 col-md-10 col-sm-10">
                <!-- Section Tittle -->
                <div class="section-tittle text-center mb-80">
                    <span>Current Volunteers</span>
                    <h2>Attendant Locations</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="single-cat text-left border mb-50 bg-transparent">
                    <div class="cat-cap">

                        <div class="row">
                            <div class="col-md-8 col-sm-12 border-right">
                                <h5><a>Community Health Volunteers/Trained Birth (Current Model)</a></h5>
                                <ol class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <b>Dubling (Kalimpong II Block): </b>
                                        14 graduates from 9 villages
                                    </li>
                                    <li class="list-group-item">
                                        <b>Buxaduar (Kalchini Block): </b>
                                        10 graduates from 6 villages
                                    </li>
                                    <li class="list-group-item">
                                        <b>Lungshel (Gorubathan Block): </b> 11 graduates from 6 villages
                                    </li>
                                    <li class="list-group-item">
                                        <b>Lankapara (Bipara Block): </b>
                                        16 graduates from 9 villages
                                    </li>
                                    <li class="list-group-item">
                                        <b>Barbote (Nimbong, Kalimpong II Block): </b>
                                        16 Graduates from 16 villages
                                    </li>
                                    <li class="list-group-item">
                                        <b>Kumai (Gorubathan Block): </b>
                                        26 trainees from 14 villages
                                    </li>
                                    <li class="list-group-item">
                                        <b>Daragaon/Sirikhola (Bijanbari Block): </b>
                                        Training scheduled for 2015
                                    </li>

                                </ol>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <h5><a>Community Nurses</a></h5>
                                <p>
                                    In January of 2012, 6 young men and women sponsored by ECTA Int'l graduated from a 6 month nursing program at Navjeevan Hospital, Gayaganga. These candidates now serve their home communities of Chuikim, Kolbong and Daragaon. Emergency Medical Techs:
                                    Additionally, HIMserve's ambulance drivers Simon and Suren were sponsored to attend a 6 month EMT program at the same institution.
                                    They now provide the first medically assisted transport in the region.
                                </p>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wants-wrapper w-padding2  section-bg" data-background="assets/img/gallery/section_bg01.png">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-xl-7 col-lg-9 col-md-8">
                <div class="wantToWork-caption wantToWork-caption2">
                    <h2 class="text-white">Find Health training resources at the Himalayan Health Resource Library</h2>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4">
                <a asp-action="Index" asp-controller="Services" asp-route-service="health-resource-library" class="btn white-btn f-right sm-left">Explore now</a>
            </div>
        </div>
    </div>
  
</div>
