<div class="slider-area" style="background-image: url('/assets/img/hero/emergency-medical-services-banner.png')">
    <div class="slider-active">
        <div class="single-slider slider-height d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-8 col-sm-10">
                        <div class="hero__caption">
                            <h1 data-animation="fadeInUp" data-delay=".6s">Emergency Relief <br />Services</h1>
                            <P data-animation="fadeInUp" data-delay=".8s">
                                Delivering quality health care and emergency transport is always an adventure in the Himalayas.
                            </P>
                            <div class="hero__btn">
                                <a href="#section-more" class="btn hero-btn mb-10" data-animation="fadeInLeft" data-delay=".8s">Our Works &rsaquo;</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div id="section-more" class="service-area pt-70 bg-white">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-7 col-md-10 col-sm-10">
                <!-- Section Tittle -->
                <div class="section-tittle text-center mb-80">
                    <span>About the Program</span>
                    <h2>How we provide Emergency Relief services?</h2>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-12">
                <div class="single-cat text-center border mb-50"
                     style="background-image:url('/assets/img/gallery/section_bg03.png'); background-repeat:no-repeat; background-size:contain">

                    <div class="cat-cap">
                        @*<h5><a>Our Vision</a></h5>*@
                        <p>
                            A trip to the hospital is no small affair for villagers in the Darjeeling District of West Bengal, India. 
                            An average trip for a seriously ill individual often requires being carried on a stretcher across rough mountain trails 
                            followed by several hours of driving on treacherous landslide prone roads. One emergency often costs several month's wages 
                            and can send a family deeper into the spiral of poverty. Seeing this need, HIMserve works with local communities and organizations 
                            to develop a reliable low cost option for isolated regions. We currentlhy support and 
                            operate 4 ambulances serving the least developed corners of the district. 
                        </p>

                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<section class="featured-job-area section-padding30 section-bg2 bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-9 col-md-10 col-sm-12">
                <!-- Section Tittle -->
                <div class="section-tittle text-center mb-80">
                    <span>Our Services</span>
                    <h2>Our Ambulance Services</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">

            
                <a class="btn btn-round btn-default mr-2" asp-action="AmbulanceService" asp-controller="Services" asp-route-type="the-donkey">The Donkey</a>
            
                <a class="btn btn-round btn-primary mr-2" asp-action="AmbulanceService" asp-controller="Services" asp-route-type="the-elephant">The Elephant</a>
            
                <a class="btn btn-round btn-primary mr-2" asp-action="AmbulanceService" asp-controller="Services" asp-route-type="the-rhino">The Rhino</a>
           
                <a class="btn btn-round btn-primary mr-2" asp-action="AmbulanceService" asp-controller="Services" asp-route-type="the-mule">The Mule</a>
           
                <a class="btn btn-round btn-primary mr-2" asp-action="AmbulanceService" asp-controller="Services" asp-route-type="the-colt">The Colt</a>
            
            <div class="clearfix"></div>
            <div class="w-100 mt-5"></div>
            <div class="col-lg-6 col-md-12">
                <!-- single-job-content -->
                <div class="single-job-items mb-30 bg-white">
                    <div class="job-items row mr-3">
                        <div class="company-img col-md-4 col-sm-12">

                            <img style="max-width:174px; max-height:178px" src="~/assets/img/gallery/ers/dsc00072.jpg" alt="" />

                        </div>
                        <div class="job-tittle col-md-8 col-sm-12 text-md-left text-sm-center">
                            <h3>
                                The Himalayas and Mt. Kanchenjunga reflected in window.
                            </h3>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <!-- single-job-content -->
                <div class="single-job-items mb-30 bg-white">
                    <div class="job-items row mr-3">
                        <div class="company-img col-md-4 col-sm-12">

                            <img class="img-fluid" style="max-width:174px; max-height:178px" src="~/assets/img/gallery/ers/dsc00125.jpg" />

                        </div>
                        <div class="job-tittle col-md-8 col-sm-12 text-md-left text-sm-center">
                            <h3>
                                The Donkey helped the Health Department get out the Polio vaccine in the midst of a district wide general strike.
                            </h3>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <!-- single-job-content -->
                <div class="single-job-items mb-30 bg-white">
                    <div class="job-items row mr-3">
                        <div class="company-img col-md-4 col-sm-12">

                            <img style="max-width:174px; max-height:178px" src="~/assets/img/gallery/ers/dsc00204.jpg" />

                        </div>
                        <div class="job-tittle col-md-8 col-sm-12 text-md-left text-sm-center">
                            <h3>
                                The Elephant was a important addition to the fleet in the spring of 2011.
                            </h3>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <!-- single-job-content -->
                <div class="single-job-items mb-30 bg-white">
                    <div class="job-items row mr-3">
                        <div class="company-img col-md-4 col-sm-12">
                            <img style="max-width:174px; max-height:178px" src="~/assets/img/gallery/ers/img_0879.jpg" />

                        </div>
                        <div class="job-tittle col-md-8 col-sm-12 text-md-left text-sm-center">
                            <h3>The Rhino goes where few others are willing!</h3>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <!-- single-job-content -->
                <div class="single-job-items mb-30 bg-white">
                    <div class="job-items row mr-3">
                        <div class="company-img col-md-4 col-sm-12">
                            <img style="max-width:174px; max-height:178px" src="~/assets/img/gallery/ers/img_1087.jpg" />

                        </div>
                        <div class="job-tittle col-md-8 col-sm-12 text-md-left text-sm-center">
                            <h3>
                                The Rhino delivers a medical team and a load of supplies to the village of Ghanti Dara for a Medical Camp.
                            </h3>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <!-- single-job-content -->
                <div class="single-job-items mb-30 bg-white">
                    <div class="job-items row mr-3">
                        <div class="company-img col-md-4 col-sm-12">
                            <img style="max-width:174px; max-height:178px" src="~/assets/img/gallery/ers/img_2057.jpg" />

                        </div>
                        <div class="job-tittle col-md-8 col-sm-12 text-md-left text-sm-center">
                            <h3>
                                Of course... sometimes even the Rhino needs some help!
                            </h3>

                        </div>
                    </div>
                </div>
            </div>
 
            
            <div class="col-lg-6 col-md-12">
                <!-- single-job-content -->
                <div class="single-job-items mb-30 bg-white">
                    <div class="job-items row mr-3">
                        <div class="company-img col-md-4 col-sm-12">
                            <img style="max-width:174px; max-height:178px" src="~/assets/img/gallery/ers/img_2122-crop-u23757.jpg" />

                        </div>
                        <div class="job-tittle col-md-8 col-sm-12 text-md-left text-sm-center">
                            <h3>
                                Prepping for a community awareness program and health camp in Pemling.
                            </h3>

                        </div>
                    </div>
                </div>
            </div>
 

            <div class="col-lg-6 col-md-12">
                <!-- single-job-content -->
                <div class="single-job-items mb-30 bg-white">
                    <div class="job-items row mr-3">
                        <div class="company-img col-md-4 col-sm-12">
                            <img style="max-width:174px; max-height:178px" src="~/assets/img/gallery/ers/img_2125-crop-u23766.jpg" />

                        </div>
                        <div class="job-tittle col-md-8 col-sm-12 text-md-left text-sm-center">
                            <h3>Delivering quality health care and emergency transport is always an adventure in the Himalayas</h3>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <!-- single-job-content -->
                <div class="single-job-items mb-30 bg-white">
                    <div class="job-items row mr-3">
                        <div class="company-img col-md-4 col-sm-12">
                            <img style="max-width:174px; max-height:178px" src="~/assets/img/gallery/ers/img_0842.jpg" />

                        </div>
                        <div class="job-tittle col-md-8 col-sm-12 text-md-left text-sm-center">
                            <h3>
                                Saran is as hardworking as he is friendly. The Dayasagar Health Service would be nothing without its excellent
                            </h3>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <!-- single-job-content -->
                <div class="single-job-items mb-30 bg-white">
                    <div class="job-items row mr-3">
                        <div class="company-img col-md-4 col-sm-12">
                            <img style="max-width:174px; max-height:178px" src="~/assets/img/gallery/ers/img_0878.jpg" />

                        </div>
                        <div class="job-tittle col-md-8 col-sm-12 text-md-left text-sm-center">
                            <h3>
                                Lifesaving medication and professional care are not accessible for many villagers in the Darjeeling District.
                            </h3>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <!-- single-job-content -->
                <div class="single-job-items mb-30 bg-white">
                    <div class="job-items row mr-3">
                        <div class="company-img col-md-4 col-sm-12">
                            <img style="max-width:174px; max-height:178px" src="~/assets/img/gallery/ers/emergencymedicalservies.jpg" />

                        </div>
                        <div class="job-tittle col-md-8 col-sm-12 text-md-left text-sm-center">
                            <h3>
                                The Rhino high above the village of Chuikim
                            </h3>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12"> 
                <div class="single-job-items mb-30 bg-white">
                    <div class="job-items row mr-3">
                        <div class="company-img col-md-4 col-sm-12">
                            <img style="max-width:174px; max-height:178px" src="~/assets/img/gallery/ers/dsc00289-crop-u23696.jpg" />

                        </div>
                        <div class="job-tittle col-md-8 col-sm-12 text-md-left text-sm-center">
                            <h3>
                                The roads in the Himalayas are often perched atop cliffs and crossing waterfalls is a common occurrence.
                            </h3>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>



