@{
    ViewData["Title"] = "Facts for Life";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="service-area pt-70 bg-white">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-sm-12">
                <!-- Section Tittle -->
                <div class="section-tittle text-left mb-80">
                    <span>Health Resource</span>
                    <h2>Facts for Life</h2>
                    <p>
                        Facts For Life 4th Ed. is a publication of UNICEF which contains simple but essential life saving messages for people living in the developing world.
                        FFL is available in multiple languages and is one of the most read publications of all time. Recently a Hindi language video series based off of main points
                        was produced. Click on the play button to the right of each topic to view the relevant video. Click on the Icon to the left to visit the HTML version of FFL.
                        Download full versions of the book by clicking on the icons below.
                    </p>

                    <a href="https://sites.unicef.org/ffl/" class="btn btn-round mb-4">English Version</a>
                    <a href="https://sites.unicef.org/ffl/" class="btn btn-round mb-4">Bangla Version</a>
                    <a href="https://sites.unicef.org/ffl/" class="btn btn-round mb-4">Word Version</a>
                    <a href="https://sites.unicef.org/ffl/" class="btn btn-round mb-4">Facilitator Guide English</a>
                    <a href="https://sites.unicef.org/ffl/" class="btn btn-round mb-4">Facilitator Guide Hindi</a>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <iframe width="480" height="270" src="https://www.youtube.com/embed/hrW1Br_5QaY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>

    </div>
</div>

<section class="featured-job-area section-padding30 section-bg2 bg-light">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-9 col-md-10 col-sm-12">
                <!-- Section Tittle -->
                <div class="section-tittle text-center mb-80">
                    <span>Facts for life</span>
                    <h2>Learning Resources</h2>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <!-- single-job-content -->
            <div class="single-job-items mb-30 bg-white">
                <div class="job-items row mr-3">
                    <div class="company-img col-md-2 p-5 col-sm-12">

                        <img style="min-height:100px; min-width:100px" class="img-fluid" src="~/assets/img/elements/pasted image 100x101.jpg" />

                    </div>

                    <div class="job-tittle col-md-10 col-sm-12 text-md-left text-sm-center">
                        <h3>
                            Timing Births<br />
                            गर्भ कब-कितनी बार<br />
                            Spacing methods: Family planning is one of the most effective ways of ensuring a healthy and happy family<br />

                            परिवार नियोजन के तरीके: स्वस्थ और खुशहाल परिवार के लिए परिवार नियोजन ज़रूरी है
                            <br />
                            <a href="http://www.healthphone.org/ammaji/timing-births.htm" class="text-primary font-weight-bold">Learn more &raquo;</a>
                        </h3>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <!-- single-job-content -->
            <div class="single-job-items mb-30 bg-white">
                <div class="job-items row mr-3">
                    <div class="company-img col-md-3 p-5 col-sm-12">
                        <img style="min-height:100px; min-width:100px" class="img-fluid" src="~/assets/img/elements/pasted image 100x1012.jpg" />
                    </div>

                    <div class="job-tittle col-md-9 col-sm-12 text-md-left text-sm-center">
                        <h3>
                            Safe Motherhood — सुरक्षित मातृत्व और नवजात का स्वास्थ्य<br />

                            Motherhood — सुरक्षित मातृत्व <br />
                            Signs of complications: A safe pregnancy delivers a healthy baby<br />

                            चेतावनी के लक्षण: सेहतमंद गर्भवती माँ, तो तंदुरुस्त बच्चा<br />
                            <a href="http://www.healthphone.org/ammaji/safe-motherhood.htm" class="text-primary font-weight-bold">Learn more &raquo;</a>
                        </h3>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <!-- single-job-content -->
            <div class="single-job-items mb-30 bg-white">
                <div class="job-items row mr-3">
                    <div class="company-img col-md-2 p-5 col-sm-12">
                        <img style="min-height:100px; min-width:100px" class="img-fluid" src="~/assets/img/elements/pasted image 100x100.jpg" />
                    </div>

                    <div class="job-tittle col-md-10 col-sm-12 text-md-left text-sm-center">
                        <h3>
                            Newborn Care — नवजात का स्वास्थ्य<br />
                            A newborn needs special care and attention in the first month of life<br />

                            देखभाल: जन्म के पहले महीने में नवजात शिशु को विशेष देखभाल और ध्यान की ज़रूरत होती है<br />
                            <a href="http://www.healthphone.org/ammaji/newborn-care.htm" class="text-primary font-weight-bold">Learn more &raquo;</a>
                        </h3>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <!-- single-job-content -->
            <div class="single-job-items mb-30 bg-white">
                <div class="job-items row mr-3">
                    <div class="company-img col-md-2 p-5 col-sm-12">
                        <img style="min-height:100px; min-width:100px" class="img-fluid" src="~/assets/img/elements/pasted image 100x1002.jpg" />
                    </div>

                    <div class="job-tittle col-md-10 col-sm-12 text-md-left text-sm-center">
                        <h3>
                            Breastfeeding — स्तनपान<br />

                            Exclusive Breastfeeding: Breastmilk alone is the best food and drink for an infant<br />

                            सिर्फ मां का दूध: नवजात शिशु के लिए माँ का दूध अमृत है<br />
                            <a href="http://www.healthphone.org/ammaji/breastfeeding.htm" class="text-primary font-weight-bold">Learn more &raquo;</a>
                        </h3>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <!-- single-job-content -->
            <div class="single-job-items mb-30 bg-white">
                <div class="job-items row mr-3">
                    <div class="company-img col-md-2 p-5 col-sm-12">
                        <img style="min-height:100px; min-width:100px" class="img-fluid" src="~/assets/img/elements/pasted image 100x1003.jpg" />
                    </div>

                    <div class="job-tittle col-md-10 col-sm-12 text-md-left text-sm-center">
                        <h3>
                            Nutrition and Growth<br />

                            सही खुराक और बढ़वार <br />
                            Growth Monitoring: Monitor your child's growth by having them weighed every month and maintaining a Growth Chart for them
                            <br />
                            बच्चों की सही बढ़त: अपने बच्चे के वज़न पर पूरा ध्यान दीजिए और अपने सामने ही बच्चे का ग्रोथ चार्ट भरवाइए
                            <br />
                            <a href="http://www.healthphone.org/ammaji/nutrition-and-growth.htm" class="text-primary font-weight-bold">Learn more &raquo;</a>
                        </h3>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <!-- single-job-content -->
            <div class="single-job-items mb-30 bg-white">
                <div class="job-items row mr-3">
                    <div class="company-img col-md-2 p-5 col-sm-12">
                        <img style="min-height:100px; min-width:100px" class="img-fluid" src="~/assets/img/elements/pasted image 100x1004.jpg" />
                    </div>

                    <div class="job-tittle col-md-10 col-sm-12 text-md-left text-sm-center">
                        <h3>
                            Immunization<br />

                            टीकाकरण<br />

                            Full Immunization in first year: To provide your child with lifelong protection from diseases, begin immunization at birth and complete the cycle<br />

                            पहले वर्ष में सभी टीके: अपने बच्चों को जीवन भर बीमारियों से सुरक्षा देने के लिए जन्म से ही उन्हें समय-समय पर टीके लगवायें<br />
                            <a href="https://sites.unicef.org/ffl/06/" class="text-primary font-weight-bold">Learn more &raquo;</a>
                        </h3>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <!-- single-job-content -->
            <div class="single-job-items mb-30 bg-white">
                <div class="job-items row mr-3">
                    <div class="company-img col-md-2 p-5 col-sm-12">
                        <img style="min-height:100px; min-width:100px" class="img-fluid" src="~/assets/img/elements/pasted image 100x1005.jpg" />
                    </div>

                    <div class="job-tittle col-md-10 col-sm-12 text-md-left text-sm-center">
                        <h3>
                            Polio<br />

                            पोलियो<br />

                            Polio Immunization: Children up to five years of age must be administered polio drops every time there is a Polio round
                            <br />
                            पोलियो की खुराक: जब-जब पोलियो की खुराक देने का मौका हो, तब-तब पाँच साल के सभी बच्चों को यह खुराक देनी ज़रूरी है<br />
                            <a href="http://www.healthphone.org/ammaji/polio.htm" class="text-primary font-weight-bold">Learn more &raquo;</a>
                        </h3>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <!-- single-job-content -->
            <div class="single-job-items mb-30 bg-white">
                <div class="job-items row mr-3">
                    <div class="company-img col-md-2 p-5 col-sm-12">
                        <img style="min-height:100px; min-width:100px" class="img-fluid" src="~/assets/img/elements/pasted image 100x1006.jpg" />
                    </div>

                    <div class="job-tittle col-md-10 col-sm-12 text-md-left text-sm-center">
                        <h3>
                            Safe Disposal of Child Excreta: Use toilets and do not dispose children's faeces in the open
                            <br />
                            बच्चे का मल सुरक्षित तरीके से निपटाना: शौचालय का प्रयोग करें और बच्चों का मल खुले में न फेंके<br />
                            <a href="http://www.healthphone.org/ammaji/hygiene-sanitation.htm" class="text-primary font-weight-bold">Learn more &raquo;</a>
                        </h3>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">

            <div class="single-job-items mb-30 bg-white">
                <div class="job-items row mr-3">
                    <div class="company-img col-md-2 p-5 col-sm-12">
                        <img style="min-height:100px; min-width:100px" class="img-fluid" src="~/assets/img/elements/pasted image 100x1007.jpg" />
                    </div>

                    <div class="job-tittle col-md-10 col-sm-12 text-md-left text-sm-center">
                        <h3>
                            Handwashing with Soap: Proper hand washing is the simplest way to prevent illnesses
                            <br />
                            साबुन से हाथ धोना: बीमारियों से बचें और हमेशा साबुन से हाथ धोएं
                            <br />

                            Diarrhoea
                            <br />
                            अतिसार/दस्त लगना<br />
                            <a href="http://www.healthphone.org/ammaji/diarrhoea.htm" class="text-primary font-weight-bold">Learn more &raquo;</a>
                        </h3>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <!-- single-job-content -->
            <div class="single-job-items mb-30 bg-white">
                <div class="job-items row mr-3">
                    <div class="company-img col-md-2 p-5 col-sm-12">
                        <img style="min-height:100px; min-width:100px" class="img-fluid" src="~/assets/img/elements/pasted image 100x1008.jpg" />
                    </div>

                    <div class="job-tittle col-md-10 col-sm-12 text-md-left text-sm-center">
                        <h3>
                            Dangers & Treatment: Immediate treatment can prevent diarrhoea from becoming dangerous
                            <br />
                            कारण और रोकथाम: दस्त का समय पर इलाज उसे गंभीर रूप लेने से रोकता है
                            <br />
                            Child Development and Early Learning
                            <br />
                            बच्चे का विकास और बचपन में सिखाना
                            <br />
                            Early Learning: Giving children time, attention, talking and playing with them helps their growth and development
                            <br />
                            बच्चे का विकास - जन्म से 3 वर्ष की आयु तक: बच्चों के बढ़ने और विकास के लिए उनको समय दें, उनके साथ बातचीत करें और खेलें<br />
                            <a href="https://sites.unicef.org/ffl/03/" class="text-primary font-weight-bold">Learn more &raquo;</a>
                        </h3>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <!-- single-job-content -->
            <div class="single-job-items mb-30 bg-white">
                <div class="job-items row mr-3">
                    <div class="company-img col-md-2 col-sm-12 p-5">
                        <img style="min-height:100px; min-width:100px" class="img-fluid" src="~/assets/img/elements/pasted image 100x1009.jpg" />
                    </div>

                    <div class="job-tittle col-md-10 col-sm-12 text-md-left text-sm-center">
                        <h3>
                            Malaria — मलेरिया<br />
                            Prevention: You can stop malaria from spreading by avoiding water collection in and around your house and by sleeping under an insecticide treated bed net
                            <br />
                            मलेरिया रोकथाम: घर के अंदर और आस-पास पानी जमा न होने देने से और कीटनाशक मच्छरदानी में सोने से, आप मलेरिया को फैलने से रोक सकते हैं<br />
                            <a href="http://www.healthphone.org/ammaji/malaria.htm" class="text-primary font-weight-bold">Learn more &raquo;</a>
                        </h3>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <!-- single-job-content -->
            <div class="single-job-items mb-30 bg-white">
                <div class="job-items row mr-3">
                    <div class="company-img col-md-2 col-sm-12 p-5">
                        <img style="min-height:100px; min-width:100px" class="img-fluid" src="~/assets/img/elements/pasted image 100x10010.jpg" />
                    </div>

                    <div class="job-tittle col-md-10 col-sm-12 text-md-left text-sm-center">
                        <h3>
                            HIV — एचआईवी
                            <br />
                            How does HIV spread?: We can better protect ourselves and our families if we have correct and complete information on HIV
                            <br />
                            एचआर्इवी कैसे फैलता है: एचआर्इवी के बारे में सही और पूरी जानकारी पाकर अपने आप और अपने परिवार को सुरक्षित रखें
                            <br />
                            <a href="http://www.healthphone.org/ammaji/hiv.htm" class="text-primary font-weight-bold">Learn more &raquo;</a>
                        </h3>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <!-- single-job-content -->
            <div class="single-job-items mb-30 bg-white">
                <div class="job-items row mr-3">
                    <div class="company-img col-md-2 col-sm-12 p-5">
                        <img style="min-height:100px; min-width:100px" class="img-fluid" src="~/assets/img/elements/pasted image 100x10011.jpg" />
                    </div>

                    <div class="job-tittle col-md-10 col-sm-12 text-md-left text-sm-center">
                        <h3>
                            Emergencies: Preparedness and Response — आपातस्थितिः तैयारी और प्रतिक्रिया
                            <br />
                            Preparedness: We must be prepared for emergencies at all times
                            <br />
                            प्राकृतिक विपदा: तैयारी: अचानक आने वाली मुश्किलों का सामना करने के लिए हमें तैयार रहना चाहिए
                            <br />
                            Prevention: By knowing what to do when emergencies occur, we can better protect our families
                            <br />
                            प्राकृतिक विपदा: बचाव: अगर हम समय रहते सारी तैयारियाँ कर लें तो संकट के समय हम खुद को और अपने परिवार को बचा सकते हैं<br />
                            <a href="http://www.healthphone.org/ammaji/emergencies-preparedness-and-response.htm" class="text-primary font-weight-bold">Learn more &raquo;</a>
                        </h3>

                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
