@{
    ViewData["Title"] = "First Aid";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="service-area pt-70 bg-white">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-7 col-md-10 col-sm-10">
                <!-- Section Tittle -->
                <div class="section-tittle text-left mb-80">
                    <span>Health Resource</span>
                    <h2>First Aid Guides</h2>
                </div>
            </div>
            <div class="col-sm-12 col-md-5 col-xl-5">
                <div class="text-center mb-50">
                    <iframe title="vimeo-player" src="https://player.vimeo.com/video/28555362" width="600" height="300" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>

        </div>

        <div class="row justify-content-center">

            <div class="col-sm-12 col-md-5 col-xl-5">
                <div class="text-center mb-80">
                    <iframe width="480" height="270" src="https://www.youtube.com/embed/ppSn11QpVP0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h2>Nepali First Aid Kit - Nepali</h2>
                </div>
            </div>

            <div class="col-sm-12 col-md-5 col-xl-5">
                <div class="text-center mb-80">
                    <iframe width="480" height="270" src="https://www.youtube.com/embed/h-6-CXtPnQk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h2>Nepali Heartstroke - Nepali</h2>
                </div>
            </div>

            <div class="col-sm-12 col-md-5 col-xl-5">
                <div class="text-center mb-80">
                    <iframe width="480" height="270" src="https://www.youtube.com/embed/T6hsHTn6eJs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h2>Nepali Hyperventilation - Nepali</h2>

                </div>
            </div>

            <div class="col-sm-12 col-md-5 col-xl-5">
                <div class="text-center mb-80">
                    <iframe width="480" height="270" src="https://www.youtube.com/embed/SklIZAWkB9o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h2>Making an Arm Sling - Nepali</h2>
                </div>
            </div>

            <div class="col-sm-12 col-md-5 col-xl-5">
                <div class="text-center mb-80">
                    <iframe width="480" height="270" src="https://www.youtube.com/embed/8FKpRqd8Yuw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h2>Caring for Burns - Nepali</h2>
                </div>
            </div>



            <div class="col-sm-12 col-md-5 col-xl-5">
                <div class="text-center mb-80">
                    <iframe width="480" height="270" src="https://www.youtube.com/embed/Qog8HGRItlA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h2>Fainting and Shocks - Nepali</h2>
                </div>
            </div>

            <div class="col-sm-12 col-md-5 col-xl-5">
                <div class="text-center mb-80">
                    <iframe width="480" height="270" src="https://www.youtube.com/embed/iLPj5yTRlYo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h2>Choking - Nepali</h2>
                </div>
            </div>

            <div class="col-sm-12 col-md-5 col-xl-5">
                <div class="text-center mb-80">
                    <iframe width="480" height="270" src="https://www.youtube.com/embed/s2Zva--z7YM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h2>Bandaging - Nepali</h2>
                </div>
            </div>

            <div class="col-sm-12 col-md-5 col-xl-5">
                <div class="text-center mb-80">
                    <iframe width="480" height="270" src="https://www.youtube.com/embed/p6pZN5ETarU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>   <h2>Bandaging - Nepali</h2>
                    <h2>Arm Fracture - Nepali</h2>
                </div>
            </div>

            <div class="col-sm-12 col-md-5 col-xl-5">
                <div class="text-center mb-80">
                    <iframe width="480" height="270" src="https://www.youtube.com/embed/Nrlv0z58Mfw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>  <h2>Bandaging - Nepali</h2>
                <h2>Sprained Ankle - Nepali</h2>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="blog-area bg-light justify-content-around">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-sm-12 mt-5 mb-5 text-center">
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="publications">
                    Publications
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="nutrition">
                    Nutrition
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="chw-skills">
                    CHW Skills
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="first-aid">
                    First Aid
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="sick-children">
                    Sick Children
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="facts-for-life">
                    Facts for Life
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="birth-emergency">
                    Birth Emergency
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="safe-motherhood">
                    Safe Motherhood
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="hygiene-sanitization">
                    Hygiene Sanitization
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="newborn-care">
                    Newborn Care
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="mobile-apps">
                    Mobile Apps
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="online-resources">
                    Online Resources
                </a>
            </div>
        </div>
    </div>
</div>