<div class="service-area pt-70 bg-white">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12">
                <div class="section-tittle text-left mb-80">
                    <img src="~/assets/img/grace_student_hostel.png" class="img-fluid w-100" />
                    <h2>Grace Student's Hostel</h2>
                    <p>
                        Grace Student's Hostel, initiative of HIMserve, located in Suntalabari, which is a last motorable point. Beyond is a hill under "Buxa Tiger Reserve Forest" consisting of 12 forest villages. People living in and around Buxa Forest are mostly Dukpa Tribe (Mongolian) who are poorest of poor and practice animal rearing & primitive jhoom cultivation. The heart of the problem in these villages lies in the road. If one could even describe it as a road, it's a hill extremely uneven, narrow and surrounded by forests.

                    </p><p>
                        From Suntalabari, the nearest village to Buxa area is at least 2 to 4 hours trek uphill through dense reserve forest. A community that can not boast of any known amenity of life, road, electricity, health clinic, school, drinking water, etc are alien to these villages. Nearest hospital and school is 2 to 4 hours trek down hill and another 45 minutes drive. Living far away from town and cities can bring up challenges that city people don't often face.
                    </p>
                    <p>
                        Due to the lack to education in the remote villages, most of the illiterate parents send their children to Bhutan and other parts of India to work in restaurants, factories and home as child labor/servant violating their fundamental rights. Encouraged children have to face numerous difficulties while going to school. They walk for 2 to 4 hours through a reserve dense forest & elephant corridor to reach school exposing themselves to wild animals. During monsoon, this region is completely cut off as the makeshift bridge the villagers built every year gets carried away by the flooding streams.
                    </p>
                    <p>
                        HIMserve being working in Buxa villages since the year 2009, we identified the immense need of student's hostel. Knowing the enormous challenges remain ahead to sensitize the thought of parents and community to let their children for residential school. We approached resources for funds to build a hostel in Suntalabari, where students can stay and impart education upto secondary level in a local English medium school. Therefore, in partnership with local community based organization "Buxa Hills Isai Ekta Samaj", a separate hostel for 50 boys and 50 girls were constructed in the year 2014 with basic amenities.
                    </p>
                    <p>

                        Our mission for hostel is that the love and faith that we have in Christ is central to everything we do. Our vision is not only to meet the student's minimum educational assistance or to equip the students for an innovative life but also to acquaint them with God's agape love.
                    </p>

                </div>
            </div>


        </div>
    </div>
</div>
