<div class="slider-area" style="background-image: url('/assets/img/hero/health-awareness-education-banner.png');">
    <div class="slider-active">
        <div class="single-slider slider-height d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-8 col-sm-10">
                        <div class="hero__caption">
                            <h1 data-animation="fadeInUp" data-delay=".6s">Himalayan Health Resource<br />Library</h1>
                            <P data-animation="fadeInUp" data-delay=".8s">
                                Governments, NGOs and Non-profits across the Himalayas have created a wealth of digital materials to promote health, education and community development throughout the region.  
                            </P>
                            <div class="hero__btn">
                                <a href="#section-more" class="btn hero-btn mb-10" data-animation="fadeInLeft" data-delay=".8s">Read more &rsaquo;</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="section-more" class="service-area pt-70 pb-50">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-7 col-md-10 col-sm-10">
                <!-- Section Tittle -->
                <div class="section-tittle text-center mb-80">
                    <span>About the Program</span>
                    <h2>Himalayan Health Resource Library</h2>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-12 mb-5">
                <div class="text-center border p-5 bg-white">
                    <p>
                        Governments, NGOs and Non-profits across the Himalayas have created a wealth of digital materials to promote health, education
                        and community development throughout the region. Due to geographic,
                        linguistic and economic barriers many of these open source materials have not been widely disseminated. Many local NGO's and
                        Community level workers do not have the time to spend hours searching the Internet for these life saving and promoting resources.
                        Many do not even know where to begin their search. ECTA has compiled these materials so that every community can have access to the information
                        it needs to thrive.
                    </p>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-2 col-sm-12 mb-4">
                <div class="single-cat  text-center border">
                    <div class="cat-cap">
                        <h6>
                            <a href="#">
                                Publications
                            </a>
                        </h6>

                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-12 mb-4">
                <div class="single-cat  text-center border">
                    <div class="cat-cap">
                        <h6>
                            <a asp-action="HealthServices" asp-controller="Services" asp-route-type="nutrition">
                                Nutrition
                            </a>
                        </h6>

                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-12 mb-4">
                <div class="single-cat  text-center border">
                    <div class="cat-cap">
                        <h6>
                            <a asp-action="HealthServices" asp-controller="Services" asp-route-type="chw-skills">
                                CHW Skills
                            </a>
                        </h6>

                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-12 mb-4">
                <div class="single-cat  text-center border">
                    <div class="cat-cap">
                        <h6>
                            <a asp-action="HealthServices" asp-controller="Services" asp-route-type="first-aid">
                                First Aid
                            </a>
                        </h6>

                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-12 mb-4">
                <div class="single-cat  text-center border">
                    <div class="cat-cap">
                        <h6>
                            <a asp-action="HealthServices" asp-controller="Services" asp-route-type="sick-children">
                                Sick Children
                            </a>
                        </h6>

                    </div>
                </div>
            </div>

            <div class="col-md-2 col-sm-12 mb-4">
                <div class="single-cat  text-center border">
                    <div class="cat-cap">
                        <h6>
                            <a asp-action="HealthServices" asp-controller="Services" asp-route-type="facts-for-life">
                                Facts for Life
                            </a>
                        </h6>

                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-12 mb-4">
                <div class="single-cat  text-center border">
                    <div class="cat-cap">
                        <h6>
                            <a asp-action="HealthServices" asp-controller="Services" asp-route-type="birth-emergency">
                                Birth Emergency
                            </a>
                        </h6>

                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-12 mb-4">
                <div class="single-cat  text-center border">
                    <div class="cat-cap">
                        <h6>
                            <a asp-action="HealthServices" asp-controller="Services" asp-route-type="safe-motherhood">
                                Safe Motherhood
                            </a>
                        </h6>

                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-12 mb-4">
                <div class="single-cat  text-center border">
                    <div class="cat-cap">
                        <h6>
                            <a asp-action="HealthServices" asp-controller="Services" asp-route-type="hygiene-sanitization">
                                Hygiene Sanitization
                            </a>
                        </h6>

                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-12 mb-4">
                <div class="single-cat  text-center border">
                    <div class="cat-cap">
                        <h6>
                            <a asp-action="HealthServices" asp-controller="Services" asp-route-type="newborn-care">
                                Newborn Care
                            </a>
                        </h6>

                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-12 mb-4">
                <div class="single-cat  text-center border">
                    <div class="cat-cap">
                        <h6>
                            <a asp-action="HealthServices" asp-controller="Services" asp-route-type="mobile-apps">
                                Mobile Apps
                            </a>
                        </h6>

                    </div>
                </div>
            </div>

            <div class="col-md-2 col-sm-12 mb-4">
                <div class="single-cat  text-center border">
                    <div class="cat-cap">
                        <h6>
                            <a asp-action="HealthServices" asp-controller="Services" asp-route-type="online-resources">
                                Online Resources
                            </a>
                        </h6>

                    </div>
                </div>
            </div> 
            <div class="clearfix"></div>

        </div>
    </div>
</div>

<div class="wants-wrapper w-padding2  section-bg" data-background="assets/img/gallery/section_bg01.png">
    <div class="container">
        <div class="row align-items-center justify-content-between">

            <div class="col-xl-7 col-lg-9 col-md-8">
                <div class="wantToWork-caption wantToWork-caption2">
                    <h1 class="text-white">Watch ECTA's YouTube Channel to see "Where There Is No Doctor" videos produced by USAID. The videos are in Nepali and an excellent resource for training village health workers.</h1>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4">
                <a href="https://www.youtube.com/channel/UCGfjbVM_dRx6fmnococxH4g" target="_blank" class="btn white-btn f-right sm-left">Watch Now</a>
            </div>
        </div>
    </div>
</div>

<section class="wantToWork-area">
    <div class="container">

        <div class="team-area pt-160 pb-50">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-7 col-md-10 col-sm-10">
                        <!-- Section Tittle -->
                        <div class="section-tittle section-tittle2 text-center mb-70">
                            <span>Health Resources</span>
                            <h2>Hisperian Health Guides</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 mb-5">
                        <div class="text-center border p-5 bg-white">
                            <p>
                                Hesperian is the most widely used and respected publisher of public health and community development books for the developing world. 
                                The publisher has translated their materials into many languages including Nepali. 
                                Across several years ECTA has complied open source PDFs of these priceless publications 
                                and created a PDF version of <span style="text-decoration:underline">Where There Is No Doctor in Nepali</span>.
                            </p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-md-12 text-left">
                                <div class="card">
                                    <div class="card-body">
                                        <p><strong>English Language Title Downloads</strong></p>
                                        <a class="text-left h2 btn btn-block" href="~/downloadable-resources/envirnomental-health-full-book.pdf" target="_blank">Environmental Health</a>
                                        <a class="text-left h2 btn btn-block" href="#" target="_blank">Women with Disabilities</a>
                                        <a class="text-left h2 btn btn-block" href="~/downloadable-resources/water-for-life_en.pdf" target="_blank">Water for Life</a>
                                        <a class="text-left h2 btn btn-block" href="~/downloadable-resources/where_women-have-no-doctor_full_book.pdf" target="_blank">Where Women have No Doctor</a>
                                        <a class="text-left h2 btn btn-block" href="~/downloadable-resources/handling-health-care-waste.pdf" target="_blank">Handling Health Care Waste</a>
                                        <a class="text-left h2 btn btn-block" href="~/downloadable-resources/helping-children-who-are-deaf_full_book.pdf" target="_blank">Helping Children who are Deaf</a>
                                        <a class="text-left h2 btn btn-block" href="~/downloadable-resources/helping-health-workers-full-book.pdf" target="_blank">Helping Health Workers Learn</a>
                                        <a class="text-left h2 btn btn-block" href="~/downloadable-resources/where-there-is-no-doctor-full-book.pdf" target="_blank">Where There is No Doctor</a>

                                    </div>
                                </div>
                              
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        
                        <div class="row">
                            <div class="col-md-12 text-left">

                                <div class="card">
                                    <div class="card-body">
                                        <p><strong>Nepali Language Title Downloads</strong></p>
                                        <a class="h2 btn-block btn text-left" href="https://hesperian.org/books-and-resources/resources-in-nepali/">Where There is No Doctor - Nepali</a>
                                        <a class="btn-block btn text-left h2" href="~/downloadable-resources/where-women-have-no-doctor---nepali-full.pdf" target="_blank">Where Women have No Doctor - Nepali</a>
                                        <a class="btn-block btn text-left h2" href="~/downloadable-resources/a-health-handbook-for-women-with-disabilities-book-nepali.pdf" target="_blank">Women with Disabilities - Nepali</a>

                                    </div>
                                </div>
                            </div>
                        </div>
                      
                        
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>

<section class="service-area bg-white">
    <div class="container">

        <div class="pt-160 pb-50">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-7 col-md-10 col-sm-10"> 
                        <div class="section-tittle text-center mb-70">
                            <span>Useful Resources</span>
                            <h2>OLE Nepal's E-Pustakalaya</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12"> 
                        <div class="single-job-items mb-30 bg-white border">
                            <div class="job-items row mr-3">
                                <div class="company-img col-md-2 col-sm-12 p-5">
                                    <img class="img-fluid" style="max-height:100px" src="~/assets/img/healthresouceces.jpg" />
                                </div>
                                <div class="job-tittle col-md-10 col-sm-12 text-md-left text-sm-center">
                                    <h3>
                                        OLE Nepal's E-pustakalaya is a virtual library providing articles and teaching/training materials in English, Nepali and other Himalayan Languages. There is a very large and easily search-able open source collection.
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="single-job-items mb-30 bg-white border p-5">
                            <h3>Reading Resources</h3>
                            <hr />
                            <div class="row">
                                <div class="col-md-6">
                                    <a class="btn btn-secondary btn-block mb-4 text-left" href="https://pustakalaya.org/list.php?community_pid=Pustakalaya:37" target="_blank">Literature</a>
                                    <a class="btn btn-secondary btn-block mb-4 text-left" href="#" target="_blank">Teaching Materials</a>
                                    <a class="btn btn-secondary btn-block mb-4 text-left" href="https://pustakalaya.org/list.php?community_pid=Pustakalaya:576" target="_blank">Art</a>
                                    <a class="btn btn-secondary btn-block mb-4 text-left" href="https://pustakalaya.org/list.php?community_pid=Pustakalaya:36" target="_blank">Reference Material</a>
                                    <a class="btn btn-secondary btn-block mb-4 text-left" href="https://pustakalaya.org/list.php?community_pid=Pustakalaya:38" target="_blank">Course Material</a>
                                    <a class="btn btn-secondary btn-block mb-4 text-left" href="https://pustakalaya.org/list.php?community_pid=Pustakalaya:37" target="_blank">Newspaper & Magazines</a>
                                    <a class="btn btn-secondary btn-block mb-4 text-left" href="https://pustakalaya.org/list.php?community_pid=Pustakalaya:165" target="_blank">Other Materials</a>

                                </div>
                                <div class="col-md-6">
                                    <a class="btn btn-secondary btn-block mb-4 text-left" href="https://pustakalaya.org/list.php?collection_pid=Pustakalaya:426" target="_blank">Health Materials</a>
                                    <a class="btn btn-secondary btn-block mb-4 text-left" href="https://pustakalaya.org/list.php?collection_pid=Pustakalaya:3506" target="_blank">Cottage Industry </a>

                                    <a class="btn btn-secondary btn-block mb-4 text-left" href="https://pustakalaya.org/list.php?collection_pid=Pustakalaya:1319" target="_blank">Agriculture/Biodiversity</a>
                                    <a class="btn btn-secondary btn-block mb-4 text-left" href="https://pustakalaya.org/list.php?collection_pid=changeme:49" target="_blank">Environment</a>


                                </div>
                            </div>
                         
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>
