<div class="slider-area" style="background-image: url('/assets/img/hero/emergency-medical-services-banner.png')">
    <div class="slider-active">
        <div class="single-slider slider-height d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-8 col-sm-10">
                       
                        <div class="hero__caption">
                            <h1 data-animation="fadeInUp" data-delay=".6s">Holistic Training</h1>
                            <P data-animation="fadeInUp" data-delay=".8s">
                           Holistic training is the basic foundation of HIMserve. This programs gives churches the tools to apply Biblical Truth in all areas of life
                                (i.e Spiritual, Physical, Social and Mental).
                            </P>
                            <div class="hero__btn">
                                <a href="#section-more" class="btn hero-btn mb-10" data-animation="fadeInLeft" data-delay=".8s">Read more &rsaquo;</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div id="section-more" class="service-area pt-70 bg-white">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-7 col-md-10 col-sm-10">
                <!-- Section Tittle -->
                <div class="section-tittle text-center mb-80">
                    <span>About the program</span>
                    <h2>Holistic Training</h2>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                <div class="text-left mb-50">

                    <p>
                        Holistic training is the basic foundation of HIMserve . This programs gives churches the tools to apply Biblical Truth in all areas of life ( i.e Spiritual. Physical, Social and Mental). 
                        We believe that every local church has a key role to play in their community to meet its basic needs and become an agent of positive transformation . 
                        Therefore this training focuses on ministering to the whole person. It includes their relationships with God, with others and with creation. We believe in unity as Psalm 133:1 Behold, 
                        how good and how pleasant it is for brethren to dwell together in unity!
                        Even Jesus prayed for a unity in John 17:20-26
                        20 "My prayer's not for them alone. I pray also for those who will believe in me through their message, 
                        21 that all of them may be one, Father, just as you are in me and! May they also be in us so that the world may believe that you have sent me.
                        22 I have given them the glory that you gave me, 
                        that they may be one as we are one - 23 I in them and you in me — so that they may be brought to complete unity: Then the world will know that sent me and have loved them even as you have loved me. 
                        24 "Father, I want those you have given me to be with me where I am, and to see my glory, 
                        the glory, the glory you have given me because you loved me before the creation of the world.<br />
                        So our main strategy for working with the church is to facilitate unity. Holistic Ministry training teaches church members to view their neighbor through God's eyes. 
                        Thus the church is called to minister to every dimension of human need and seeks wholeness at every level of society—individuals, 
                        families, communities, nations, and the global human family. Holistic ministry values every person as a unique and marvelous 
                        creation, bought by Jesus, destined for eternity. Because of the Spirit's power to make all things new, a transformational perspective sees a person in terms of their 
                        potential rather than their problems. In addition, it breaks down the barriers between those serving and those being served. If churches are not working in union, the there is no point in the church 
                        sharing a message of love and unity with the world around them.
                        We unite a fragmented and introspective church and help it grow into externally focused community of service.

                    </p>

                </div>
            </div>
            
        </div>
    </div>
</div>
<section id="section-more" class="featured-job-area section-padding30 section-bg2 bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-9 col-md-10 col-sm-12">
                <!-- Section Tittle -->
                <div class="section-tittle text-center mb-80">
                    <span>How we are helping</span>
                    <h2>Holistic Training </h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-start">
            <div class="col-lg-6 col-md-12">
                <!-- single-job-content -->
                <div class="single-job-items mb-30 bg-white">
                    <div class="job-items row mr-3">
                        <div class="company-img col-md-4 col-sm-12">

                            <img style="max-width:174px; max-height:178px" src="~/assets/img/gallery/holistic-training/1.jpg" alt="" />

                        </div>
                        <div class="job-tittle col-md-8 col-sm-12 text-md-left text-sm-center">
                            <h3>
                                The United Forum in Git-dubling discusses their action plan for the area.
                            </h3>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <!-- single-job-content -->
                <div class="single-job-items mb-30 bg-white">
                    <div class="job-items row mr-3">
                        <div class="company-img col-md-4 col-sm-12">

                            <img style="max-width:174px; max-height:178px" src="~/assets/img/gallery/holistic-training/img_1885.jpg" />

                        </div>
                        <div class="job-tittle col-md-8 col-sm-12 text-md-left text-sm-center">
                            <h3>The KIES works the community to build a bridge over the Chamung river.</h3>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <!-- single-job-content -->
                <div class="single-job-items mb-30 bg-white">
                    <div class="job-items row mr-3">
                        <div class="company-img col-md-4 col-sm-12">

                            <img style="max-width:174px; max-height:178px" src="~/assets/img/gallery/holistic-training/football match - anti-addiction program.jpg" />

                        </div>
                        <div class="job-tittle col-md-8 col-sm-12 text-md-left text-sm-center">
                            <h3>The Git-dubling United Forum uses football to raise addiction awareness.</h3>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <!-- single-job-content -->
                <div class="single-job-items mb-30 bg-white">
                    <div class="job-items row mr-3">
                        <div class="company-img col-md-4 col-sm-12">

                            <img style="max-width:174px; max-height:178px" src="~/assets/img/gallery/holistic-training/4.jpg" />

                        </div>
                        <div class="job-tittle col-md-8 col-sm-12 text-md-left text-sm-center">
                            <h3>The Buxaduar United Forum uncovers the Holistic concept in the scriptures.</h3>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <!-- single-job-content -->
                <div class="single-job-items mb-30 bg-white">
                    <div class="job-items row mr-3">
                        <div class="company-img col-md-4 col-sm-12">

                            <img style="max-width:174px; max-height:178px" src="~/assets/img/gallery/holistic-training/5.jpg" />

                        </div>
                        <div class="job-tittle col-md-8 col-sm-12 text-md-left text-sm-center">
                            <h3>Rajesh Thapa teaches a community about the 'Holistic' concept.</h3>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <!-- single-job-content -->
                <div class="single-job-items mb-30 bg-white">
                    <div class="job-items row mr-3">
                        <div class="company-img col-md-4 col-sm-12">

                            <img style="max-width:174px; max-height:178px" src="~/assets/img/gallery/holistic-training/6.jpg" />

                        </div>
                        <div class="job-tittle col-md-8 col-sm-12 text-md-left text-sm-center">
                            <h3>The BHIES plays a key role in the the construction of a educational hostel.</h3>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <!-- single-job-content -->
                <div class="single-job-items mb-30 bg-white">
                    <div class="job-items row mr-3">
                        <div class="company-img col-md-4 col-sm-12">

                            <img style="max-width:174px; max-height:178px" src="~/assets/img/gallery/holistic-training/7.jpg" />

                        </div>
                        <div class="job-tittle col-md-8 col-sm-12 text-md-left text-sm-center">
                            <h3>A United Forum collects money from the community to give a blind man sight.</h3>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <!-- single-job-content -->
                <div class="single-job-items mb-30 bg-white">
                    <div class="job-items row mr-3">
                        <div class="company-img col-md-4 col-sm-12">

                            <img style="max-width:174px; max-height:178px" src="~/assets/img/gallery/holistic-training/8.jpg" />

                        </div>
                        <div class="job-tittle col-md-8 col-sm-12 text-md-left text-sm-center">
                            <h3>The BHIES presents a record of their work to the community.</h3>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <!-- single-job-content -->
                <div class="single-job-items mb-30 bg-white">
                    <div class="job-items row mr-3">
                        <div class="company-img col-md-4 col-sm-12">

                            <img style="max-width:174px; max-height:178px" src="~/assets/img/gallery/holistic-training/9.jpg" />

                        </div>
                        <div class="job-tittle col-md-8 col-sm-12 text-md-left text-sm-center">
                            <h3>A United Forum and HIMserve discussing future visions and intentions.</h3>

                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>
            
        </div>
    </div>
</section>
<div class="wants-wrapper w-padding2  section-bg" data-background="assets/img/gallery/section_bg01.png">
    <div class="container">
        <div class="row align-items-center justify-content-between">

            <div class="col-xl-7 col-lg-9 col-md-8">
                <div class="wantToWork-caption wantToWork-caption2">
                    <h1 class="text-white">Truth Certified Transformation, read and learn</h1>
                </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4">
                <a href="~/assets/TCT.pdf" target="_blank" class="btn white-btn f-right sm-left">Download Now</a>
            </div>
        </div>
    </div>
</div>