@{
    ViewData["Title"] = "Hygiene Sanitization";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="service-area pt-70 bg-white">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-xl-6 col-lg-7 col-md-7 col-sm-12">
                <!-- Section Tittle -->
                <div class="section-tittle text-left mb-80">
                    <span>Hygiene Sanitization</span>
                    <h2>The Story of Cholera</h2>
                    <p>
                        The Story of Cholera is one of the best visual tools available for teaching communities about sanitation and disease prevention:
                    </p>
                    <a href="http://globalhealthmedia.org/story-of-cholera/videos/the-story-of-cholera/" class="btn-round btn mb-4">English</a>
                    @*<a href="http://globalhealthmedia.org/story-of-cholera/videos/the-story-of-cholera-nepali/" class="btn-round btn mb-4">Nepali Download</a>*@
                    <a href="http://globalhealthmedia.org/story-of-cholera/videos/the-story-of-cholera-nepali/" class="btn-round btn mb-4">Nepali</a>
                    <a href="http://globalhealthmedia.org/story-of-cholera/videos/the-story-of-cholera-bengali/" class="btn-round btn mb-4">Bengali</a>
                    <a href="https://globalhealthmedia.org/videos/cholera-portfolio/" class="btn-round btn mb-4">Other</a>
                </div>
            </div>
            <div class="col-sm-12 col-md-5 col-xl-5">
                <div class="text-center mb-50">
                    <iframe width="600" height="300" src="https://www.youtube.com/embed/jG1VNSCsP5Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="text-left mb-50">
                    <iframe width="480" height="270" src="https://www.youtube.com/embed/Qdpd3roZjYw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <!-- Section Tittle -->
                <div class="section-tittle text-left mb-80">

                    <h2>
                        Building a Tippy Tap
                    </h2>
                    <p>
                        Building a Tippy Tap is an excellent way to stop the spread of disease in low resource and water scarce environment.
                        Now schools, hospitals and clinics which do not have running water have an option for low cost hand washing station.

                    </p>
                </div>
            </div>

            <div class="col-xl-6 col-lg-7 col-md-7 col-sm-12">
                <!-- Section Tittle -->
                <div class="section-tittle text-left mb-80">

                    <h2>Hand Washing - Nepali</h2>
                    <p>
                        This short film produced by USAID Nepal teaches the importance of and basic techniques of proper hand washing. Nepali, LIVE ACTION.

                    </p>
                </div>
            </div>
            <div class="col-sm-12 col-md-5 col-xl-5">
                <div class="text-center mb-50">
                    <iframe width="480" height="270" src="https://www.youtube.com/embed/Rfk1pDDojdc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

            <div class="col-sm-12 col-md-6">
                <div class="text-left mb-50">
                    <iframe width="480" height="270" src="https://www.youtube.com/embed/kIQcermL-VU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">

                <div class="section-tittle text-left mb-80">

                    <h2>How to purify drinking water using Solar Distillation</h2>
                    <p>
                        This short film produced by USAID Nepal teaches how to purify drinking water using the Solar Distillation of SODIS technique.
                        This low cost and effective method saves lives. Nepali, LIVE ACTION.

                    </p>
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <!-- Section Tittle -->
                <div class="section-tittle text-left mb-80">

                    <h2>
                            Dental Hygiene - Nepali
                        </h2>
                    <p>
                        This short film produced by USAID Nepal teaches the importance of dental hygiene and how to brush one's teeth in an effective way. Nepali, LIVE ACTION.

                    </p>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="text-right mb-50">
                    <iframe width="480" height="270" src="https://www.youtube.com/embed/kokwIlM-BPA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="blog-area bg-light justify-content-around">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-sm-12 mt-5 mb-5 text-center">
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="publications">
                    Publications
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="nutrition">
                    Nutrition
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="chw-skills">
                    CHW Skills
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="first-aid">
                    First Aid
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="sick-children">
                    Sick Children
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="facts-for-life">
                    Facts for Life
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="birth-emergency">
                    Birth Emergency
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="safe-motherhood">
                    Safe Motherhood
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="hygiene-sanitization">
                    Hygiene Sanitization
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="newborn-care">
                    Newborn Care
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="mobile-apps">
                    Mobile Apps
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="online-resources">
                    Online Resources
                </a>
            </div>
        </div>
    </div>
</div>