<div class="slider-area" style="background-image: url('/assets/img/hero/emergency-medical-services-banner.png')">
    <div class="slider-active">
        <div class="single-slider slider-height d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-8 col-sm-10">

                        <div class="hero__caption">
                            <h1 data-animation="fadeInUp" data-delay=".6s">Medical Scholorship Program</h1>
                            <P data-animation="fadeInUp" data-delay=".8s">
                              Throughout the Himalayas, Governments have built Primary Health Centers in remote communities to decentralize health services and provide access to care in isolated regions.  
                            </P>
                            <div class="hero__btn">
                                <a href="#section-more" class="btn hero-btn mb-10" data-animation="fadeInLeft" data-delay=".8s">Read more &rsaquo;</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div id="section-more" class="service-area pt-70 bg-white">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-7 col-md-10 col-sm-10">
                <!-- Section Tittle -->
                <div class="section-tittle text-center mb-80">
                    <span>About the program</span>
                    <h2>The Dr. Paul Brand Medical Scholarship </h2>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                <div class="text-left mb-50">

                    <p>
                        Throughout the Himalayas, Governments have built Primary Health Centers in remote communities to decentralize 
                        health services and provide access to care in isolated regions. There are two major obstacles limiting the actual delivery of this care<br />
                        1) There aren’t enough doctors to staff these facilities and as a result...<br />
                        2) The care villagers need to survive is often not available or substandard. 
                        
                        <br />
                        <b>What are the root causes of this situation?</b> <br />
                       <ul class="list-group mb-5">
                           <li class="list-group-item">
                               Postings at hospitals in the city provide more opportunity for advancement and a lucrative private practice.
                           </li>
                           <li class="list-group-item">
                               The vast majority of doctors in South Asia come from city families. Village families do not have access to the educational infrastructure, 
                               social networks or capital necessary to send their children to Medical School. Urban doctors are often unwilling to live in less comfortable/under-developed rural environments.
                           </li>
                           <li class="list-group-item">
                               In South Asia medical education is generally seen as a route for professional advancement rather than medium for social service. Medical practice is primarily seen as a route to power, wealth and prestige.
                           </li>
                       </ul>
                         
                        As a result the care provided is often lacking in the compassion and commitment that is seen when medicine is practiced as a vocational service.
                    </p>
                    <p><b>What is the long term solution to this problem?</b></p>
                    <p>
                        Making medical education accessible to village students who demonstrate not only academic excellence but also a heart to serve their community will bridge
                        the gap between urban and rural health care. Village students do not quickly forget the conditions of their upbringing and are accustomed to the rigors of
                        daily life in isolated regions. They carry in their hearts compassion for those living in remote regions. They have also “walked in those shoes”.
                        These students naturally understand the need for quality health care and devoted practitioners at the village level. Despite these assets,
                        few village students are able to access medical education due to inequitable competition by urban/affluent students. Village parents in the Himalayas,
                        have to literally climb a mountain to even put their children through middle and high school. Many pay for school fees one liter of milk or one sack of
                        potatoes at a time. Not even counting this toil, in the end parents will climb a mountain (at least once) to take their goods to market. Each rupee spent on
                        education is paid for with countless drops of sweat. Village students face equally daunting obstacles. While city students arrive at school fresh, having only a
                        short walk or bus ride, village students arrive exhausted after walking, sometimes hours, through valleys and over passes. Just as the best doctors remain in the
                        city, the best teachers remain there as well depriving rural students of quality education. All of these factors compound to make it nearly impossible for a
                        village student to gain a seat in a Medical College… so the cycle continues year after year. Rural PHC’s remain empty and villages bear the toll in the form
                        of poor community health. Despite all these challenges, many promising and aspiring village students try year after year to gain a seat. ECTA recognizes that
                        it was necessary for these students to climb a mountain of obstacles to have even finished Class 12 in excellent standing. It is at this point which ECTA hopes
                        to level the path ahead. Through a rigorous selection process based on academic standing, history of community service and spiritual integrity, ECTA plans to
                        send these promising students to Medical School through the Dr. Paul Brand Medical Scholarship. In becoming a sponsored scholar, students will agree to a minimum
                        of 5 years of service in a rural PHC’s after graduation. Additionally, ECTA will augment their medical education with a holistic mentoring program. This program
                        will instill in each student a deep respect and commitment to community service which will last beyond the required period. As these students return to their
                        villages as committed compassionate doctors, they will begin to break the cycles of ignorance and inequality which have long held isolated communities in the grip
                        of poverty and poor health.
                        @*Initial support for the Dr. Paul Brand Medical Scholarship was generated by the A Mountain To Pass fund-raiser.
                        Watch this inspiring story by clicking below...*@

                    </p>
                    <div class="justify-content-center">
                        <iframe width="1150" height="510" src="https://www.youtube.com/embed/SnQnTYp5tCI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <p>&nbsp;</p>
                    <p>
                        <b>Yearly Timeline:</b>
                        <br />
                        <b>June:</b>ECTA and HIMserve announce the scholarship program throughout the Darjeeling District. Applications must be submitted by September 31st.<br />
                       <b>October:</b> Applications will be reviewed and those meeting the program criteria will be called for initial interviews.<br />
                        <b>November:</b> Top applicants will be called for a final interview and 5 initial candidates will be selected.<br />
                        <b>December</b> - February: The initial candidates will be enrolled in an Entrance Examination preparation course.<br />
                        <b>March:</b> Initial candidates will sit for an Entrance Exam at each institution selected by ECTA/HIMserve.<br />
                        <b>Summer:</b> The top candidate gaining admission will be selected and sponsored for the duration of their medical education. 
                        ECTA and Himserve will sponsor 1 candidate per year for the next 5 years. Candidates not receiving the scholarship will be given guidance on 
                        gaining admission and financing at other institutions. Students will be monitored, supported and mentored throughout their education. 
                        Once their education is complete, they will serve a minimum of 5 years in a remote Government Primary Health Center. 
                        Those completing their required service will be considered for additional higher specialty training

                    </p>
                </div>
            </div>

        </div>
    </div>
</div> 