@{
    ViewData["Title"] = "Mobile Apps";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="service-area pt-70 bg-white">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-xl-6 col-lg-8 col-md-7 col-sm-12">
                <!-- Section Tittle -->
                <div class="section-tittle text-left mb-80">
                    <span>Mobile Apps</span>
                    <h2>Epocrates</h2>
                    <p>
                        Epocrates is a mobile application for health providers which organizes essential information in an easy to use and navigate interface. Large medical
                        references are expensive, cumbersome and hard to come by in the developing
                        world. Epocrates makes it easy to look up/calculate dosages, indications/contraindications, cross reference medications to check for interactions and
                        so much more. Health providers in the developing world can keep up with evolving international standards of care with this FREE application!
                    </p>

                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-xl-5">
                <div class="text-center mb-50">
                    <img class="img-fluid" src="~/assets/img/pasted image 160x314.jpg" />
                </div>
            </div>


            <div class="col-sm-6">
                <!-- Section Tittle -->
                <div class="section-tittle text-left mb-80">
                    <img src="~/assets/img/pasted image 258x126.jpg" />

                    <p>
                        The E-algo mobile application software has been designed to assist rural health care workers in the diagnosis and treatment of common diseases seen at health posts. NSI is
                        currently doing research on the acceptance and usage of this mobile application by patients and health care workers...stay tuned.

                    </p>
                    <a href="http://www.nsi.edu.np/en" class="btn btn-default btn-round">Click to download</a>
                </div>
            </div>

            <div class="col-sm-6">
                <!-- Section Tittle -->
                <div class="section-tittle text-left mb-80">
                    <img src="~/assets/img/pasted image 300x300.jpg" />

                    <p>
                        Hesperian has developed a Safe Pregnancy and Birth application for smartphones and tablets. 
                        The app serves as a guide for Health Workers as well as a teaching aid and covers issues such as "Staying Health During Pregnancy", 
                        "Danger Sign During Pregnancy", "Danger Signs During Birth", "Danger Signs After Birth" and a "How To..." section.
                    </p> 
                </div>
            </div>

        </div>

    </div>
</div>

<div class="blog-area bg-light justify-content-around">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-sm-12 mt-5 mb-5 text-center">
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="publications">
                    Publications
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="nutrition">
                    Nutrition
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="chw-skills">
                    CHW Skills
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="first-aid">
                    First Aid
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="sick-children">
                    Sick Children
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="facts-for-life">
                    Facts for Life
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="birth-emergency">
                    Birth Emergency
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="safe-motherhood">
                    Safe Motherhood
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="hygiene-sanitization">
                    Hygiene Sanitization
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="newborn-care">
                    Newborn Care
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="mobile-apps">
                    Mobile Apps
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="online-resources">
                    Online Resources
                </a>
            </div>
        </div>
    </div>
</div>