@{
    ViewData["Title"] = "Newborn Care";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="service-area pt-70 bg-white">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-xl-6 col-lg-7 col-md-7 col-sm-12">
                <!-- Section Tittle -->
                <div class="section-tittle text-left mb-80">
                    <span>Newborn Care</span>
                    <h2>The Home Visit</h2>
                    <p>
                        3 home visits by health workers and midwives the first week after birth can prevent many health complications for mother and child.
                        This time period is the perfect time to look for warning signs and teach proper newborn care techniques. Shot in Nepal, ENGLISH, LIVE ACTION.
                    </p>

                </div>
            </div>
            <div class="col-sm-12 col-md-5 col-xl-5">
                <div class="text-center mb-50">
                    <iframe width="480" height="270" src="https://www.youtube.com/embed/w8r0DmfXiCI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="text-left mb-50">
                    <iframe width="480" height="270" src="https://www.youtube.com/embed/8foaEYKfDRo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <!-- Section Tittle -->
                <div class="section-tittle text-left mb-80">

                    <h2>
                        The Newborn Exam
                    </h2>
                    <p>
                        Soon after the baby is born health workers and midwives. A basic newborn exam is easy to do and is important to detect potentially life threatening conditions. ENGLISH, LIVE ACTION.
                    </p>
                </div>
            </div>

            <div class="col-xl-6 col-lg-7 col-md-7 col-sm-12">
                <!-- Section Tittle -->
                <div class="section-tittle text-left mb-80">

                    <h2>Jaundice</h2>
                    <p>

                        Many babies are born with jaundice. Usually, the normal condition disappears within a few days or weeks. BUT if it persists or if the jaundice (a yellow color in the skin) increases steadily the child may be suffering from a more serious illness. Learn to recognize the difference be normal and serious jaundice symptoms by watching this video. Shot in Africa, ENGLISH, LIVE ACTION.

                    </p>
                </div>
            </div>
            <div class="col-sm-12 col-md-5 col-xl-5">
                <div class="text-center mb-50">
                    <iframe width="480" height="270" src="https://www.youtube.com/embed/RRV-9Jf0eI0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

            <div class="col-sm-12 col-md-6">
                <div class="text-left mb-50">
                    <iframe width="480" height="270" src="https://www.youtube.com/embed/TWXHFzrVxdI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">

                <div class="section-tittle text-left mb-80">

                    <h2>The "HOT" baby</h2>
                    <p>

                        Simple fevers are still one of the leading causes of death for young children in many parts of the world.
                        Learn how to identify and and care for fevers in newborns. Shot in Africa, ENGLISH, LIVE ACTION
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <!-- Section Tittle -->
                <div class="section-tittle text-left mb-80">

                    <h2>
                        Breathing problems in Newborns
                    </h2>
                    <p>

                        Rapid breathing, chest in-drawing, nasal flaring, blue lips and other warning signs may point to a seriously ill child in need of medical help.
                        Learn to separate common and severe breathing problems in newborns. Shot in Africa, ENGLISH, LIVE ACTION
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="text-right mb-50">
                    <iframe width="480" height="270" src="https://www.youtube.com/embed/dvb04Hh7RkA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <div class="text-right mb-50">
                    <iframe width="480" height="270" src="https://www.youtube.com/embed/O4W7WW7xNkY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <!-- Section Tittle -->
                <div class="section-tittle text-left mb-80">

                    <h2>
                        Thrush
                    </h2>
                    <p>

                        Thrush is a fungal infection which may affect a newborn child and mother. The infection can affect the mouth of the child causing it to feed poorly.
                        The infection can causes sore breasts and nipples in the mother making it difficult to feed the baby. Thrush can be easily diagnosed and treated.
                        Shot in Africa. ENGLISH, LIVE ACTION
                    </p>
                </div>
            </div>


            <div class="col-md-6 col-sm-12">
                <!-- Section Tittle -->
                <div class="section-tittle text-left mb-80">

                    <h2>
                        Breast Engorgement
                    </h2>
                    <p>

                        Breastfeeding is essential for newborn health. Painful beast engorgement is painful for the mother and may cause her to stop breastfeeding.
                        Learn techniques to give the mother relief and help the baby to feed well. Shot in Nepal, ENGLISH, LIVE ACTION.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="text-right mb-50">
                    <iframe width="480" height="270" src="https://www.youtube.com/embed/iq3kS8JxIpg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <div class="text-right mb-50">
                    <iframe width="480" height="270" src="https://www.youtube.com/embed/XezF_TOMU8E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <!-- Section Tittle -->
                <div class="section-tittle text-left mb-80">

                    <h2>

                        Sepsis
                    </h2>
                    <p>
                        Sepsis is a severe infection throughout a baby's body. This is is a leading cause of death for newborns throughout the developing world.
                        Health workers need to be able to recognize this condition, provide initial treatment and refer the child to higher level care. Shot in Africa, ENGLISH, LIVE ACTION.
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <!-- Section Tittle -->
                <div class="section-tittle text-left mb-80">

                    <h2>
                        Referring a Sick Baby
                    </h2>
                    <p>
                        Health workers and Midwives should refer newborns showing warning signs to higher level medical care.
                        Simple preparations and taking the appropriate steps can reduce complications during the referral. Shot in Africa, ENGLISH, LIVE ACTION.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="text-right mb-50">
                    <iframe width="480" height="270" src="https://www.youtube.com/embed/nhWYqF6lDW4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <div class="text-right mb-50">
                    <iframe width="480" height="270" src="https://www.youtube.com/embed/5YQmQu2dNPA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <!-- Section Tittle -->
                <div class="section-tittle text-left mb-80">

                    <h2>
                        The "Cold" baby
                    </h2>
                    <p>
                        Low body temperatures in newborns is also an important warning sign. Cold shock after birth is a common cause of complications for young children. Shot in Africa, ENGLISH, LIVE ACTION
                    </p>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="blog-area bg-light justify-content-around">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-sm-12 mt-5 mb-5 text-center">
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="publications">
                    Publications
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="nutrition">
                    Nutrition
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="chw-skills">
                    CHW Skills
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="first-aid">
                    First Aid
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="sick-children">
                    Sick Children
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="facts-for-life">
                    Facts for Life
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="birth-emergency">
                    Birth Emergency
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="safe-motherhood">
                    Safe Motherhood
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="hygiene-sanitization">
                    Hygiene Sanitization
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="newborn-care">
                    Newborn Care
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="mobile-apps">
                    Mobile Apps
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="online-resources">
                    Online Resources
                </a>
            </div>
        </div>
    </div>
</div>