@{ 
    ViewData["Title"] = "Nutrition";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="service-area pt-70 bg-white">
    <div class="container">
        <div class="row justify-content-center">
             
            <div class="col-xl-6 col-lg-7 col-md-7 col-sm-12">
                <!-- Section Tittle -->
                <div class="section-tittle text-left mb-80">
                    <span>Nutrition</span>
                    <h2>What Prgegnant Women need to eat</h2>
                    <p>
                        What Pregnant women need to eat
                        Women of child bearing age, infants and young children are the most nutritionally vulnerable.
                        Bringing knowledge of methods to improve diet to both health workers and the communities can save lives and prevent illness and stunting.
                    </p>
                </div>
            </div>
            <div class="col-sm-12 col-md-5 col-xl-5">
                <div class="text-center mb-50">
                    <iframe title="vimeo-player" src="https://player.vimeo.com/video/28555362" width="600" height="300" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="text-left mb-50">
                    <iframe title="vimeo-player" src="https://player.vimeo.com/video/28462382" width="600" height="300" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <!-- Section Tittle -->
                <div class="section-tittle text-left mb-80">

                    <h2>Food for life: Breastfeeding</h2>
                    <p>
                        Food For Life: Breastfeeding
                        Women of child bearing age, infants and young children are the most nutritionally vulnerable.
                        Bringing knowledge of methods to improve diet to both health workers and the communities can save lives and prevent illness and stuntin
                    </p>
                </div>
            </div>

            <div class="col-xl-6 col-lg-7 col-md-7 col-sm-12">
                <!-- Section Tittle -->
                <div class="section-tittle text-left mb-80">
                   
                    <h2>What and when to feed your Child</h2>
                    <p> 
                        Exclusive breastfeeding for the first 6 months of life dramatically increases the life span of the child. 
                        But when it comes time to start feeding the child weaning foods, many parents are confused as which are best. 
                        Good nutrition during the first 2 years of life sets a child up for a lifetime of health. Watch and learn more.
                    </p>
                </div>
            </div>
            <div class="col-sm-12 col-md-5 col-xl-5">
                <div class="text-center mb-50">
                    <iframe title="vimeo-player" src="https://player.vimeo.com/video/28509777" width="600" height="300" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>

        </div>
        
    </div>
</div>

<div class="blog-area bg-light justify-content-around">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-sm-12 mt-5 mb-5 text-center">
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="publications">
                    Publications
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="nutrition">
                    Nutrition
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="chw-skills">
                    CHW Skills
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="first-aid">
                    First Aid
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="sick-children">
                    Sick Children
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="facts-for-life">
                    Facts for Life
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="birth-emergency">
                    Birth Emergency
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="safe-motherhood">
                    Safe Motherhood
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="hygiene-sanitization">
                    Hygiene Sanitization
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="newborn-care">
                    Newborn Care
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="mobile-apps">
                    Mobile Apps
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="online-resources">
                    Online Resources
                </a>
            </div>
        </div>
    </div>
</div>