@{
    ViewData["Title"] = "Mobile Apps";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="service-area pt-70 bg-white">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-xl-6 col-lg-8 col-md-7 col-sm-12">
                <!-- Section Tittle -->
                <div class="section-tittle text-left mb-80">
                    <span>Online Resources</span>
                    <h2>Other Sites offering open source training material</h2>
                    <p>
                        Healthphone.org is an incredible resource offering audio/visual resources in over 60 languages.
                        South Asian languages are well represented with materials in Nepali, Hindi, Bengali and numerous Indian languages.
                    </p>
                    <a href="http://www.healthphone.org/" target="_blank" class="btn">Explore now</a>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-xl-5">
                <div class="text-center mb-50">
                    <img class="img-fluid" src="~/assets/img/healthphone.jpg" />
                </div>
            </div>


            <div class="col-sm-6">
                <!-- Section Tittle -->
                <div class="section-tittle text-left mb-80">
                    <img src="~/assets/img/pasted image 260x330.jpg" />

                    <p>
                        This organization is focused on producing easy to use, easy to understand audio visual materials to communicate
                        health messages and train care providers. The Story of Cholera is being used world wide in multiple languages to
                        teach communities about sanitation and disease prevention.
                        A new childbirth series is in production which was filmed at the United Mission Hospital in Tansen, Nepal.
                    </p>
                    <a href="https://globalhealthmedia.org/" class="btn btn-default btn-round">Explore</a>
                </div>
            </div>

            <div class="col-sm-6">
                <!-- Section Tittle -->
                <div class="section-tittle text-left mb-80">
                    <img src="~/assets/img/usaidnepal.jpg" />

                    <p>
                        USAID Nepal has created a wide variety of publications and media tools dealing with issues such agriculture, food security,
                        human rights, environment, maternal child health and many other topics. This organization has excelled in produce Nepali
                        language material.
                        The USAIDNepal YOUtube channel shares informational videos, "serials" and training videos on all of these developmental topics.
                    </p>
                </div>
            </div>

            <div class="col-sm-6">
                <!-- Section Tittle -->
                <div class="section-tittle text-left mb-80">
                    <img src="~/assets/img/maflogo-crop-u24057.jpg" />
                    <p>
                        Despite the fact that these films were originally made for Sub-Saharan Africa, they are appropriate for training
                        health workers and promoting community awareness throughout the developing world. Many of the films
                        have been translated into multiple languages and the animated series is completely visual requiring no need for
                        translation!
                    </p>
                </div>
            </div>
            <div class="col-sm-6">
                <!-- Section Tittle -->
                <div class="section-tittle text-left mb-80">
                    <img src="~/assets/img/pasted image 258x126 (1).jpg" />
                    <p>
                        The Nick Simons Institute is a Nepal-based organization whose mission is to train and support competent health care
                        workers for rural Nepal. The country's mountainous terrain and poverty pose immense barriers to the provision of
                        medical care for people living in remote communities. More than half of Nepal's rural districts don't have basic
                        emergency services, including operations.
                    </p>
                </div>
            </div>
            <div class="col-sm-6">
                <!-- Section Tittle -->
                <div class="section-tittle text-left mb-80">
                    <img src="~/assets/img/chwcentrallogo.jpg" />
                    <p>
                        CHW Central is a global on-line resource center that enables the wide and rapid sharing of information
                        about CHW work and management offering resources for training and program enhancement.
                    </p>
                </div>
            </div>

            <div class="col-sm-6">
                <!-- Section Tittle -->
                <div class="section-tittle text-left mb-80">
                    <img src="~/assets/img/pasted image 300x168.jpg" />
                    <p>
                        Maternova is an web-based platform which makes it easy for doctors, nurses and midwives around the world to track, access and purchase new technologies
                        and innovations in their fields to improve the standard of care for those who need it most.
                    </p>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="blog-area bg-light justify-content-around">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-sm-12 mt-5 mb-5 text-center">
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="publications">
                    Publications
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="nutrition">
                    Nutrition
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="chw-skills">
                    CHW Skills
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="first-aid">
                    First Aid
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="sick-children">
                    Sick Children
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="facts-for-life">
                    Facts for Life
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="birth-emergency">
                    Birth Emergency
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="safe-motherhood">
                    Safe Motherhood
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="hygiene-sanitization">
                    Hygiene Sanitization
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="newborn-care">
                    Newborn Care
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="mobile-apps">
                    Mobile Apps
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="online-resources">
                    Online Resources
                </a>
            </div>
        </div>
    </div>
</div>