@{
    ViewData["Title"] = "Safe Motherhood";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="service-area pt-70 bg-white">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-xl-6 col-lg-7 col-md-7 col-sm-12">
                <!-- Section Tittle -->
                <div class="section-tittle text-left mb-80">
                    <span>Safe Motherhoood</span>
                    <h2>Warning Signs in Pregnancy</h2>
                    <p>

                        Learn to quickly recognize common warning signs in pregnancy to prevent complication during child birth. Warning signs such as anemia,
                        unexplained bleeding, high fever, severe headache, excessive swelling and others may point to potentially fatal problems and need immediate care.
                        ENGLISH, LIVE ACTION & ANIMATION
                    </p>
                </div>
            </div>
            <div class="col-sm-12 col-md-5 col-xl-5">
                <div class="text-center mb-50">
                    <iframe title="vimeo-player" src="https://player.vimeo.com/video/32033146" width="600" height="300" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="text-left mb-50">
                    <iframe title="vimeo-player" src="https://player.vimeo.com/video/28660577" width="600" height="300" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <!-- Section Tittle -->
                <div class="section-tittle text-left mb-80">

                    <h2>
                        Ten steps to Safe Delivery
                        (sterilized knife)
                    </h2>
                    <p>
                        This easy to understand and expertly animated instructional video teaches midwives, trained birth attendants and informal care providers
                        the basic steps to assisting a mother during child birth by creating a hygienic environment and providing appropriate care in a low resource setting. NON-VERBAL, ANIMATION
                    </p>
                </div>
            </div>

            <div class="col-xl-6 col-lg-7 col-md-7 col-sm-12">
                <!-- Section Tittle -->
                <div class="section-tittle text-left mb-80">

                    <h2>10 steps to a clean Delivery(using razor)</h2>
                    <p>
                        This easy to understand and expertly animated instructional video teaches midwives, trained birth attendants and informal care providers
                        the basic steps to assisting a mother during child birth by creating a hygienic environment and providing appropriate care in a setting with
                        access to basic resources. The umbilical cord is cut with a razor blade instead of a sterilized knife. NON-VERBAL, ANIMATED

                    </p>
                </div>
            </div>
            <div class="col-sm-12 col-md-5 col-xl-5">
                <div class="text-center mb-50">
                    <iframe title="vimeo-player" src="https://player.vimeo.com/video/39329974" width="600" height="300" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>

            <div class="col-sm-12 col-md-6">
                <div class="text-left mb-50">
                    <iframe title="vimeo-player" src="https://player.vimeo.com/video/39194120" width="600" height="300" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">

                <div class="section-tittle text-left mb-80">

                    <h2>How to care for a Newborn</h2>
                    <p>
                        the first hours after delivery Learn how to care for a newborn baby immediately after birth and to identify warnings signs in
                        the child which could lead to complications.
                        These simple steps reduce the chance of infection in the newborn as well as the effects of "cold shock". ENGLISH, LIVE ACTION AND ANIMATIONS.
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <!-- Section Tittle -->
                <div class="section-tittle text-left mb-80">

                    <h2>
                        Management of Postpartum Hemorrhage: Low resource setting
                    </h2>
                    <p>
                        Postpartum hemorrhage means when a loses large amounts of blood after a child birth. Postpartum hemorrhage is a leading cause of maternal mortality
                        (death of the mother) in the developing world. Checking for basic warning signs and taking simple actions can prevent the majority of these deaths.
                        Village midwives, health workers and informal birth assistants can learn the skills necessary to identify and care for PPH by watching this video. ENGLISH,
                        LIVE ACTION and ANIMATION.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="text-right mb-50">
                    <iframe title="vimeo-player" src="https://player.vimeo.com/video/28657601" width="600" height="300" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>

            <div class="col-sm-12 col-md-6">
                <div class="text-left mb-50">
                    <iframe title="vimeo-player" src="https://player.vimeo.com/video/72270580" width="600" height="300" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">
                <!-- Section Tittle -->
                <div class="section-tittle text-left mb-80">

                    <h2>

                        Management of Postpartum Hemorrhage: Skilled Health Worker Training series.
                    </h2>
                    <p>
                        This video teaches skilled and equipped health workers, nurses and midwives to properly care for PPH in multiple contexts. ENGLISH, LIVE ACTION & ANIMATION.
                    </p>
                </div>
            </div>



            <div class="col-xl-6 col-lg-7 col-md-7 col-sm-12">
                <!-- Section Tittle -->
                <div class="section-tittle text-left mb-80">

                    <h2>
                        Preparing the Birth Room
                    </h2>
                    <p>
                        Nurses and Midwives working in a clinic or hospital can take simple steps to make sure they are ready to care for a mother and child during birth.
                        Simple preparations can reduce the chance for infection and ensure the best care during emergencies and complications. Shot in Nepal. ENGLISH, LIVE ACTION & ANIMATION.
                    </p>
                </div>
            </div>
            <div class="col-sm-12 col-md-5 col-xl-5">
                <div class="text-center mb-50">
                    <iframe width="480" height="270" src="https://www.youtube.com/embed/WZz8Yysq5mo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>

            <div class="col-sm-12 col-md-6">
                <div class="text-center mb-50">
                    <iframe title="vimeo-player" src="https://player.vimeo.com/video/72407734" width="600" height="300" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <!-- Section Tittle -->
                <div class="section-tittle text-left mb-80">

                    <h2>
                        How to use a Partograph
                    </h2>
                    <p>
                        A vital tool for the care of every woman in labour. The partograph is a graphic record of vital observations during the course of labour in order to assess its progress and carry out appropriate interventions if and when necessary.
                        Correct use of the partograph can help prevent and manage prolonged or obstructed labour and serious complications, including ruptured uterus, obstetric fistula, and stillbirth. Shot in Africa. ENGLISH, LIVE ACTION & ANIMATION.
                    </p>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="blog-area bg-light justify-content-around">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-sm-12 mt-5 mb-5 text-center">
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="publications">
                    Publications
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="nutrition">
                    Nutrition
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="chw-skills">
                    CHW Skills
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="first-aid">
                    First Aid
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="sick-children">
                    Sick Children
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="facts-for-life">
                    Facts for Life
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="birth-emergency">
                    Birth Emergency
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="safe-motherhood">
                    Safe Motherhood
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="hygiene-sanitization">
                    Hygiene Sanitization
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="newborn-care">
                    Newborn Care
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="mobile-apps">
                    Mobile Apps
                </a>
                <a class="btn-secondary btn-round btn mb-2" asp-action="HealthServices" asp-controller="Services" asp-route-type="online-resources">
                    Online Resources
                </a>
            </div>
        </div>
    </div>
</div>