@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "The Mule Ambulance Emergency Relief Service";
}
<div class="slider-area" style="background-image: url('/assets/img/hero/emergency-medical-services-banner.png')">
    <div class="slider-active">
        <div class="single-slider slider-height d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-8 col-sm-10">
                        <ul class="breadcrumb bg-white">
                            <li class="breadcrumb-item"><a class="text-muted" href="@Href("~/")">Home</a></li>
                            <li class="breadcrumb-item"><a class="text-muted" asp-action="Index" asp-controller="Services" asp-route-service="emergency-relief-service">Emergency Relief Services</a></li>
                        </ul>
                        <div class="hero__caption">
                            <h1 data-animation="fadeInUp" data-delay=".6s">The Mule Ambulance<br />Service</h1>
                            <P data-animation="fadeInUp" data-delay=".8s">
                                We are in the process of modifying a 4x4 jeep with a snorkel and locking differentials to provide EMS services to this remote region!
                            </P>
                            <div class="hero__btn">
                                <a href="#section-more" class="btn hero-btn mb-10" data-animation="fadeInLeft" data-delay=".8s">Read more &rsaquo;</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div id="section-more" class="service-area pt-70 bg-white">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-7 col-md-10 col-sm-10">
                <!-- Section Tittle -->
                <div class="section-tittle text-center mb-80">
                    <span>About the Service</span>
                    <h2>The Mule</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">

            <div class="col-md-12 col-sm-12">
                <div class="text-left mb-50">

                    <p>
                        Villagers in the Daragaon-Sirikhola area must carry their loved ones across mountains and then endure a 5 hour jeep ride to 
                        reach the District Hospital in Darjeeling. Often times, at the critical hour vehicles are not available. New roads are being built
                        in the region but ordinary vehicles can't travel on the rough tracks. We at HIMserve knew that no ordinary vehicle would be able to cross
                        the Siri River and climb up to these remote villages... hence 'The Mule'. 
                        We are in the process of modifying a 4x4 jeep with a snorkel and locking differentials to provide EMS services to this remote region!
                    </p>

                </div>
            </div>

            <div class="col-md-6 col-sm-6">
                <img class="img-fluid" height="393" width="512" src="/assets/img/gallery/ers/20141101_144036-crop-u27940.jpg" />

            </div>
            <div class="col-md-6 col-sm-6">
                <img class="img-fluid" style="max-height:393px; max-width:512px" src="/assets/img/gallery/ers/Dinesh Rai.jpg" />
            </div>
            <div class="clearfix"></div>
            
        </div>
    </div>
</div>