<div class="service-area pt-70 bg-white">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 col-sm-12">
                <div class="section-tittle text-left mb-80">
                    <span></span>
                    <h2>Village Development Committees & Self Help Group</h2>
                    <p>
                        Page Content is being updated. Check back soon to learn more.
                    </p>

                </div>
            </div>
            <div class="col-md-5 col-sm-12">
                <div class="carousel slide" id="slide-1">

                    <div class="carousel-inner" id="u27157popup">
                        <div class="carousel-item active" id="u27321">
                            <img class="block" id="u27321_img" data-src="~/assets/img/gallery/village-development/bulldozer.jpg" src="~/assets/img/gallery/village-development/bulldozer.jpg"
                                 alt="" data-width="480" data-height="299" style="" width="480" height="299">
                            <div class="carousel-caption">
                                <h3>The Pemling VDC collects funds and initiates the extension of the vehicle road.</h3>
                            </div>
                        </div>
                        <div class="carousel-item" id="u27330">

                            <img class="block" id="u27330_img" data-src="~/assets/img/gallery/village-development/carrying%20sick.jpg" src="~/assets/img/gallery/village-development/carrying%20sick.jpg" alt="" data-width="480" data-height="360" width="480" height="360" style="">
                            <div class="carousel-caption">
                                <h3>
                                    Self Help Groups regularly carry sick villagers to the road head.
                                </h3>

                            </div>
                        </div>
                        <div class="carousel-item" id="u27339">

                            <img class="block" id="u27339_img" data-src="~/assets/img/gallery/village-development/chunabhati%20bridge%202.jpg" src="~/assets/img/gallery/village-development/chunabhati%20bridge%202.jpg" alt="" data-width="480" data-height="321" width="480" height="321" style="">
                            <div class="carousel-caption">
                                <h3>Self Help Groups regularly carry sick villagers to the road head.</h3>
                            </div>
                        </div>
                        <div class="carousel-item" id="u27348">

                            <img class="block" id="u27348_img" data-src="~/assets/img/gallery/village-development/chunabhati%20vdc%20meeting.jpg" src="~/assets/img/gallery/village-development/chunabhati%20vdc%20meeting.jpg" alt="" data-width="480" data-height="243" width="480" height="243" style="">
                            <div class="carousel-caption">
                                <h3>
                                    Adma &amp; Chunabatti VDC's construct a bridge on a vital trail.
                                </h3>
                            </div>
                        </div>
                        <div class="carousel-item" id="u27366">

                            <img class="block" id="u27366_img" data-src="~/assets/img/gallery/village-development/cimg0108.jpg" src="~/assets/img/gallery/village-development/cimg0108.jpg" alt="" data-width="480" data-height="360" width="480" height="360" style="">
                            <div class="carousel-caption">
                                <h3>
                                    A Self Help Group meeting in progress.
                                </h3>
                            </div>
                        </div>
                        <div class="carousel-item" id="u27375">

                            <img class="block" id="u27375_img" data-src="~/assets/img/gallery/village-development/cimg3300.jpg" src="~/assets/img/gallery/village-development/cimg3300.jpg" alt="" data-width="480" data-height="360" width="480" height="360" style="">
                            <div class="carousel-caption">
                                <h3>
                                    A community group cleans up and protects their village's water source.
                                </h3>
                            </div>
                        </div>
                        <div class="carousel-item" id="u27384">

                            <img class="block" id="u27384_img" data-src="~/assets/img/gallery/village-development/dsc01536%20-%20copy.jpg" src="~/assets/img/gallery/village-development/dsc01536%20-%20copy.jpg" alt="" data-width="480" data-height="360" width="480" height="360" style="">
                            <div class="carousel-caption">
                                <h3>
                                    VDC's in the Pemling area unite to refurbish the local Community Hall.
                                </h3>
                            </div>
                        </div>
                        <div class="carousel-item" id="u27393">

                            <img class="block" id="u27393_img" data-src="~/assets/img/gallery/village-development/dscn3623-crop-u27393.jpg" src="~/assets/img/gallery/village-development/dscn3623-crop-u27393.jpg" alt="" data-width="480" data-height="344" width="480" height="344" style="">

                            <div class="carousel-caption">
                                <h3>
                                    The groups of Lungshel work together to clear a landslide on their only road.
                                </h3>
                            </div>

                        </div>
                        <div class="carousel-item" id="u27411">

                            <img class="block" id="u27411_img" data-src="~/assets/img/gallery/village-development/dustbins%201%20(2)_sheila.jpg" src="~/assets/img/gallery/village-development/dustbins%201%20(2)_sheila.jpg" alt="" data-width="480" data-height="360" width="480" height="360" style="">
                            <div class="carousel-caption">
                                <h3>
                                    SHG's help a family in Dubling which was affected by the September 2011 earthquake.
                                </h3>
                            </div>
                        </div>
                        <div class="carousel-item" id="u27420">
                            <!-- image -->
                            <img class="block" id="u27420_img" data-src="~/assets/img/gallery/village-development/dustbins%201_sheila.jpg" src="~/assets/img/gallery/village-development/dustbins%201_sheila.jpg" alt="" data-width="480" data-height="360" width="480" height="360" style="">
                            <div class="carousel-caption">
                                <h3>
                                    An SHG prepares rubbish to keep their village clean.
                                </h3>
                            </div>
                        </div>
                        <div class="carousel-item" id="u27429">

                            <img class="block" id="u27429_img" data-src="~/assets/img/gallery/village-development/img_3265.jpg" src="~/assets/img/gallery/village-development/img_3265.jpg" alt="" data-width="480" data-height="360" width="480" height="360" style="">
                            <div class="carousel-caption">
                                <h3>
                                    SHG's regularly clear overgrown paths in their communities.
                                </h3>
                            </div>
                        </div>
                        <div class="carousel-item" id="u27438">

                            <img class="block" id="u27438_img" data-src="~/assets/img/gallery/village-development/landslide%20(2).jpg" src="~/assets/img/gallery/village-development/landslide%20(2).jpg" alt="" data-width="480" data-height="360" width="480" height="360" style="">
                            <div class="carousel-caption">
                                <h3>
                                    Training of community groups takes place in their villages.
                                </h3>
                            </div>
                        </div>
                        <div class="carousel-item" id="u27447">
                            <!-- image -->
                            <img class="block" id="u27447_img" data-src="~/assets/img/gallery/village-development/school%20extension%20in%20dubling%2001.jpg" src="~/assets/img/gallery/village-development/school%20extension%20in%20dubling%2001.jpg" alt="" data-width="480" data-height="270" width="480" height="270" style="">
                            <div class="carousel-caption">
                                <h3>SHG's help the victims of a local landslide.</h3>
                            </div>
                        </div>
                        <div class="carousel-item" id="u27456">
                            <!-- image -->
                            <img class="block" id="u27456_img" data-src="~/assets/img/gallery/village-development/stone%20breaking.jpg" src="~/assets/img/gallery/village-development/stone%20breaking.jpg" alt="" data-width="480" data-height="299" width="480" height="299" style="">
                            <div class="carousel-caption">
                                <h3>
                                    The Dubling Community Groups construct classrooms for the village school.
                                </h3>
                            </div>
                        </div>
                        <div class="carousel-item" id="u27487">
                            <!-- image -->
                            <img class="block" id="u27487_img" data-src="~/assets/img/gallery/village-development/git%20dubling_leadership%20training_08%20024.jpg" src="~/assets/img/gallery/village-development/git%20dubling_leadership%20training_08%20024.jpg" alt="" data-width="480" data-height="360" width="480" height="360" style="">
                            <div class="carousel-caption">
                                <h3>
                                    Dabling SHG's breaking rocks during the construction of a village road.
                                </h3>
                            </div>
                        </div>

                        <a class="carousel-control-prev" href="#slide-1" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#slide-1" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
 
        </div>
    </div>
</div>
