
@{
    ViewData["Title"] = ViewData["PageTitle"];
    var service = ViewData["service"].ToString();
}

@if (service == "agriculture")
{
    <div class="slider-area" style="background-image:url('/assets/img/hero/animal-husbandary-banner.png');">
        <div class="slider-active">
            <div class="single-slider slider-height d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-8 col-sm-10">
                            <div class="hero__caption">
                                <h1 data-animation="fadeInUp" data-delay=".6s">Agriculture & <br />Animal Husbandary.</h1>
                                <P data-animation="fadeInUp" data-delay=".8s">
                                    Helping Village farmers to access affordable high yield seeds for new crops.
                                </P>
                                <div class="hero__btn">
                                    <a href="#section-more" class="btn hero-btn mb-10" data-animation="fadeInLeft" data-delay=".8s">Our Works &rsaquo;</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <section id="section-more" class="featured-job-area section-padding30 section-bg2 bg-light">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-9 col-md-10 col-sm-12">
                    <!-- Section Tittle -->
                    <div class="section-tittle text-center mb-80">
                        <span>What we are boing</span>
                        <h2>Helping people to adopt advanced Husbandary practices</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-12">
                    <!-- single-job-content -->
                    <div class="single-job-items mb-30 bg-white">
                        <div class="job-items row mr-3">
                            <div class="company-img col-md-4 col-sm-12">

                                <img style="max-width:174px; max-height:178px" src="~/assets/img/gallery/agriculture/copy of encourage story parment 071.jpg" alt="" />

                            </div>
                            <div class="job-tittle col-md-8 col-sm-12 text-md-left text-sm-center">
                                <h3>Crop diversification through green house construction</h3>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <!-- single-job-content -->
                    <div class="single-job-items mb-30 bg-white">
                        <div class="job-items row mr-3">
                            <div class="company-img col-md-4 col-sm-12">

                                <img style="max-width:174px; max-height:178px" src="~/assets/img/gallery/agriculture/dalle cultivation-crop-u26467.jpg" />

                            </div>
                            <div class="job-tittle col-md-8 col-sm-12 text-md-left text-sm-center">
                                <h3>Linking small farmers to training opportunities increases production/profit</h3>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <!-- single-job-content -->
                    <div class="single-job-items mb-30 bg-white">
                        <div class="job-items row mr-3">
                            <div class="company-img col-md-4 col-sm-12">

                                <img style="max-width:174px; max-height:178px" src="~/assets/img/gallery/agriculture/dscn1660-crop-u26652.jpg" />

                            </div>
                            <div class="job-tittle col-md-8 col-sm-12 text-md-left text-sm-center">
                                <h3>Small scale bee keeping training from and for the local community.</h3>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <!-- single-job-content -->
                    <div class="single-job-items mb-30 bg-white">
                        <div class="job-items row mr-3">
                            <div class="company-img col-md-4 col-sm-12">

                                <img style="max-width:174px; max-height:178px" src="~/assets/img/gallery/agriculture/git 007.jpg" />

                            </div>
                            <div class="job-tittle col-md-8 col-sm-12 text-md-left text-sm-center">
                                <h3>Pig rearing, a long term investment that pays off.</h3>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <!-- single-job-content -->
                    <div class="single-job-items mb-30 bg-white">
                        <div class="job-items row mr-3">
                            <div class="company-img col-md-4 col-sm-12">
                                <img style="max-width:174px; max-height:178px" src="~/assets/img/gallery/agriculture/binod with mushrooms-crop-u26431.jpg" />

                            </div>
                            <div class="job-tittle col-md-8 col-sm-12 text-md-left text-sm-center">
                                <h3>Mushrooms cultivation training provided Binod with a new income source.</h3>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <!-- single-job-content -->
                    <div class="single-job-items mb-30 bg-white">
                        <div class="job-items row mr-3">
                            <div class="company-img col-md-4 col-sm-12">

                                <img style="max-width:174px; max-height:178px" src="~/assets/img/gallery/agriculture/komal shg fishery 1.jpg" />
                            </div>
                            <div class="job-tittle col-md-8 col-sm-12 text-md-left text-sm-center">
                                <h3>"Kamal Self Help Group" creates a fish farm with a little guidance.</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <!-- single-job-content -->
                    <div class="single-job-items mb-30 bg-white">
                        <div class="job-items row mr-3">
                            <div class="company-img col-md-4 col-sm-12">
                                <img style="max-width:174px; max-height:178px" src="~/assets/img/gallery/agriculture/pedal thresher.jpg" />

                            </div>
                            <div class="job-tittle col-md-8 col-sm-12 text-md-left text-sm-center">
                                <h3>Introducing a paddy peddle thresher which reduces labor & improves quality</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <!-- single-job-content -->
                    <div class="single-job-items mb-30 bg-white">
                        <div class="job-items row mr-3">
                            <div class="company-img col-md-4 col-sm-12">
                                <img style="max-width:174px; max-height:178px" src="~/assets/img/gallery/agriculture/encourage story parment 261.jpg" />
                            </div>
                            <div class="job-tittle col-md-8 col-sm-12 text-md-left text-sm-center">
                                <h3>Tomatoes are grown in the village of Parment for the first time.</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <!-- single-job-content -->
                    <div class="single-job-items mb-30 bg-white">
                        <div class="job-items row mr-3">
                            <div class="company-img col-md-4 col-sm-12">
                                <img style="max-width:174px; max-height:178px" src="~/assets/img/gallery/agriculture/buxaduar trip_23 july 09 103.jpg" />

                            </div>
                            <div class="job-tittle col-md-8 col-sm-12 text-md-left text-sm-center">
                                <h3>Teaching families to raise goats to cover school fees improves access to education.</h3>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12">
                    <!-- single-job-content -->
                    <div class="single-job-items mb-30 bg-white">
                        <div class="job-items row mr-3">
                            <div class="company-img col-md-4 col-sm-12">
                                <img class="img-fluid" style="max-width:174px; max-height:178px" src="~/assets/img/gallery/agriculture/ghantidada mushrooms.jpg" />
                            </div>
                            <div class="job-tittle col-md-8 col-sm-12 text-md-left text-sm-center">
                                <h3>Mushroom cultivation training in the village.</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <!-- single-job-content -->
                    <div class="single-job-items mb-30 bg-white">
                        <div class="job-items row mr-3">
                            <div class="company-img col-md-4 col-sm-12">
                                <img style="max-width:174px; max-height:178px" src="~/assets/img/gallery/agriculture/encourage story parment 133.jpg" />

                            </div>
                            <div class="job-tittle col-md-8 col-sm-12 text-md-left text-sm-center">
                                <h3>HIMserve staff member Om Thapa spreads the seeds of change</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <!-- single-job-content -->
                    <div class="single-job-items mb-30 bg-white">
                        <div class="job-items row mr-3">
                            <div class="company-img col-md-4 col-sm-12">
                                <img style="max-width:174px; max-height:178px" src="~/assets/img/gallery/agriculture/sri dubling_oct09.jpg" />
                            </div>
                            <div class="job-tittle col-md-8 col-sm-12 text-md-left text-sm-center">
                                <h3>Noel Lepcha inspects his rice crop grown using a new agronomic practice.</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <!-- single-job-content -->
                    <div class="single-job-items mb-30 bg-white">
                        <div class="job-items row mr-3">
                            <div class="company-img col-md-4 col-sm-12">
                                <img style="max-width:174px; max-height:178px" src="~/assets/img/gallery/agriculture/img_20131108_110323.jpg" />
                            </div>
                            <div class="job-tittle col-md-8 col-sm-12 text-md-left text-sm-center">
                                <h3>Mushrooms are a low cost, low tech crop which provides a big return.</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <!-- single-job-content -->
                    <div class="single-job-items mb-30 bg-white">
                        <div class="job-items row mr-3">
                            <div class="company-img col-md-4 col-sm-12">
                                <img style="max-width:174px; max-height:178px" src="~/assets/img/gallery/agriculture/nursery stattus in dec09 (2).jpg" />

                            </div>
                            <div class="job-tittle col-md-8 col-sm-12 text-md-left text-sm-center">
                                <h3>Training farmers to raise their own vegetable seedlings </h3>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <div class="service-area pt-70 bg-white" style="background-image:url('/assets/img/gallery/section_bg03.png'); background-repeat:no-repeat; background-size:contain">
        <div class="container">

            <div class="row">


                <div class="col-sm-12">
                    <div class="single-cat text-left mb-50">
                        <div class="cat-cap">
                            <div class="ti-quote-left">
                                <p class="quotes">
                                    Majority of the families in HIMserve’s work areas live off agriculture.
                                    For some, the conditions for growing crops are fairly good, while for many others they are challenging.
                                    Their staple crop is rice with a few different vegetables. HIMserve helps introduce new methods of cultivation,
                                    a wider range of vegetables and techniques for raising seedlings. At the least HIMserve would like to see every
                                    family have their own vegetable garden so they can have a healthy and balanced diet. Two cash crops, ginger and
                                    cardamom have been grown in the areas for decades. Many have earn a significant income from this, but as is the case with
                                    all mono-cropping over longer periods, they are currently facing multiple problems from diseases and pests with no complete solution.
                                    HIMserve is investigating possibilities of introducing some new cash crops. Every family has a few animals, the favorites being goats,
                                    pigs and cattle. HIMserve’s focus is on helping people adopt advanced husbandry practices with a view to preventing diseases and increasing
                                    productivity. Agriculture and animals related trainings are conducted by HIMserve staff or by experts brought in from other private or
                                    government agencies. There is emphasis on introducing the community people to the government officials and other agencies that can help
                                    them directly. HIMserve’s work in Agriculture and Animal Husbandry endeavours to help the rural communities it serves diversify and increase
                                    their incomes.
                                </p>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

@if (service == "child")
{
    <div class="slider-area">
        <div class="slider-active">
            <div class="single-slider slider-height d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-8 col-sm-10">
                            <div class="hero__caption">
                                <h1 data-animation="fadeInUp" data-delay=".6s">Child & Teens <br />Training</h1>
                                <P data-animation="fadeInUp" data-delay=".8s">
                                    Formation of CTC Clubs and adolescent’s group in different areas, such as schools, churches and communities to achieve our goal.
                                </P>
                                <div class="hero__btn">
                                    <a href="#section-more" class="btn hero-btn mb-10" data-animation="fadeInLeft" data-delay=".8s">Our Works &rsaquo;</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div id="section-more" class="service-area pt-70 bg-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-7 col-md-10 col-sm-10">
                    <!-- Section Tittle -->
                    <div class="section-tittle text-center mb-80">
                        <span>About the Program</span>
                        <h2>What CTC & Adolescent Groups do?</h2>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-sm-6">
                    <div class="single-cat text-center border mb-50"
                         style="background-image:url('/assets/img/gallery/section_bg03.png'); background-repeat:no-repeat; background-size:contain">

                        <div class="cat-cap">
                            <h5><a>Our Vision</a></h5>
                            <p>
                                To see the holistic development of children and adolescents into mature and responsible human beings who contribute to the well being of their society.

                            </p>

                        </div>
                    </div>
                </div>
                <div class="col-sm-6">

                    <div class="single-cat text-center border mb-50"
                         style="background-image:url('/assets/img/gallery/section_bg03.png'); background-repeat:no-repeat; background-size:contain">
                        <div class="cat-cap">
                            <h5><a>Our Mission</a></h5>
                            <p>
                                Formation of CTC Clubs and adolescent’s group in different areas, such as schools, churches and communities to achieve our goal, & providing better future.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>

            </div>
        </div>
    </div>

    <section class="featured-job-area section-padding30 section-bg2 bg-light">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-9 col-md-10 col-sm-12">
                    <!-- Section Tittle -->
                    <div class="section-tittle text-center mb-80">
                        <span>How we are helping</span>
                        <h2>Effects of CTC & Adolescents Groups</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-12">
                    <!-- single-job-content -->
                    <div class="single-job-items mb-30 bg-white">
                        <div class="job-items row mr-3">
                            <div class="company-img col-md-4 col-sm-12">

                                <img style="max-width:174px; max-height:178px" src="~/assets/img/gallery/ctcag/child.jpg" alt="" />

                            </div>
                            <div class="job-tittle col-md-8 col-sm-12 text-md-left text-sm-center">
                                <h3>
                                    CTC clubs work to keep their village clean
                                </h3>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <!-- single-job-content -->
                    <div class="single-job-items mb-30 bg-white">
                        <div class="job-items row mr-3">
                            <div class="company-img col-md-4 col-sm-12">

                                <img class="img-fluid" style="max-width:174px; max-height:178px" src="~/assets/img/gallery/ctcag/cleaning rubbish.jpg" />

                            </div>
                            <div class="job-tittle col-md-8 col-sm-12 text-md-left text-sm-center">
                                <h3>
                                    CTC clubs teach children to be the solution to their community's problems.
                                </h3>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12">
                    <!-- single-job-content -->
                    <div class="single-job-items mb-30 bg-white">
                        <div class="job-items row mr-3">
                            <div class="company-img col-md-4 col-sm-12">

                                <img style="max-width:174px; max-height:178px" src="~/assets/img/gallery/ctcag/dscn1710.jpg" />

                            </div>
                            <div class="job-tittle col-md-8 col-sm-12 text-md-left text-sm-center">
                                <h3>Children work to raise awareness about deforestation and re-plantation.</h3>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <!-- single-job-content -->
                    <div class="single-job-items mb-30 bg-white">
                        <div class="job-items row mr-3">
                            <div class="company-img col-md-4 col-sm-12">
                                <img style="max-width:174px; max-height:178px" src="~/assets/img/gallery/ctcag/dscn1720.jpg" />

                            </div>
                            <div class="job-tittle col-md-8 col-sm-12 text-md-left text-sm-center">
                                <h3>Children can become teachers in the community.</h3>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <!-- single-job-content -->
                    <div class="single-job-items mb-30 bg-white">
                        <div class="job-items row mr-3">
                            <div class="company-img col-md-4 col-sm-12">

                                <img style="max-width:174px; max-height:178px" src="~/assets/img/gallery/ctcag/reporting in buxa 02.jpg" />
                            </div>
                            <div class="job-tittle col-md-8 col-sm-12 text-md-left text-sm-center">
                                <h3>"Kamal Self Help Group" creates a fish farm with a little guidance.</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <!-- single-job-content -->
                    <div class="single-job-items mb-30 bg-white">
                        <div class="job-items row mr-3">
                            <div class="company-img col-md-4 col-sm-12">
                                <img style="max-width:174px; max-height:178px" src="~/assets/img/gallery/ctcag/ronglen lepcha 01.jpg" />

                            </div>
                            <div class="job-tittle col-md-8 col-sm-12 text-md-left text-sm-center">
                                <h3>In Child to Child, children are eager to share the important things they learn.</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <!-- single-job-content -->
                    <div class="single-job-items mb-30 bg-white">
                        <div class="job-items row mr-3">
                            <div class="company-img col-md-4 col-sm-12">
                                <img style="max-width:174px; max-height:178px" src="~/assets/img/gallery/ctcag/social work group.jpg" />

                            </div>
                            <div class="job-tittle col-md-8 col-sm-12 text-md-left text-sm-center">
                                <h3>CTC staff, Lalita Bhujel, works with the children of Dubling village.</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <!-- single-job-content -->
                    <div class="single-job-items mb-30 bg-white">
                        <div class="job-items row mr-3">
                            <div class="company-img col-md-4 col-sm-12">
                                <img style="max-width:174px; max-height:178px" src="~/assets/img/gallery/ctcag/noels story (3).jpg" />
                            </div>
                            <div class="job-tittle col-md-8 col-sm-12 text-md-left text-sm-center">
                                <h3>Health awareness teaching by the children of the Reon CTC club.</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <!-- single-job-content -->
                    <div class="single-job-items mb-30 bg-white">
                        <div class="job-items row mr-3">
                            <div class="company-img col-md-4 col-sm-12">
                                <img style="max-width:174px; max-height:178px" src="~/assets/img/gallery/ctcag/ronglen lepcha 02.jpg" />
                            </div>
                            <div class="job-tittle col-md-8 col-sm-12 text-md-left text-sm-center">
                                <h3>Renjong learned the importance of Vitamin C during illness.</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <!-- single-job-content -->
                    <div class="single-job-items mb-30 bg-white">
                        <div class="job-items row mr-3">
                            <div class="company-img col-md-4 col-sm-12">
                                <img style="max-width:174px; max-height:178px" src="~/assets/img/gallery/ctcag/pemzang dukpa ado.jpg" />
                            </div>
                            <div class="job-tittle col-md-8 col-sm-12 text-md-left text-sm-center">
                                <h3>Adolescent groups learn about local health issues and prevention.</h3>
                            </div>
                        </div>
                    </div>
                </div>




            </div>
        </div>
    </section>

    <div class="service-area pt-70 bg-white" style="background-image:url('/assets/img/gallery/section_bg03.png'); background-repeat:no-repeat; background-size:contain">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-7 col-md-10 col-sm-10">
                    <!-- Section Tittle -->
                    <div class="section-tittle text-center mb-80">
                        <span>In detail - </span>
                        <h2>CTC & Adolescents Groups</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="single-cat text-left border mb-50 bg-transparent">
                        <div class="cat-cap">

                            <div class="row">
                                <div class="col-md-8 col-sm-12 border-right">
                                    <h5>
                                        <a>Child to Child </a>
                                    </h5>
                                    <ol class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            Enabling children to understand, practice and spread the message of GOOD HEALTH.
                                        </li>
                                        <li class="list-group-item">
                                            Training children to be agents of change in their families and communities in the area of prevention.
                                        </li>
                                        <li class="list-group-item">
                                            Develop life skills in children by helping them to take decisions, increasing good self-esteem, learning communication, critical thinking, problem and solving skills.
                                        </li>
                                        <li class="list-group-item">
                                            Training CTC club leaders in a six steps approach, to teach children effectively. ADDITIONAL TOPICS FOR ADOLESCENTS
                                        </li>
                                        <li class="list-group-item">
                                            Develop life skills that help them to deal wisely and responsibly with the different problem they will be confronted in life.
                                        </li>
                                        <li class="list-group-item">
                                            Develop good behavior, attitude and habits including relationships with others, healthy living, gender issues, etc.
                                        </li>
                                        <li class="list-group-item">
                                            Have an understanding of a physical and emotional change that occurs during child to adolescent years.
                                        </li>
                                        <li class="list-group-item">
                                            Development of leadership skills.
                                        </li>
                                        <li class="list-group-item">
                                            Learning to work in a group for the benefit of wider community.
                                        </li>
                                        <li class="list-group-item">
                                            Leading them to the love of God.
                                        </li>
                                        <li class="list-group-item">
                                            CTC Clubs = 58 groups.
                                        </li>
                                    </ol>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <h5><a>Adolescents Groups</a></h5>

                                    <p>

                                        Adolescent Clubs: 23 groups.<br />
                                        Trained Sunday School Teachers: 27 Schools.<br />
                                        Trained Formal School Teachers: 18 Schools.<br />
                                        Trained Leaders of CTC Clubs: 162 Groups.<br />
                                        Trained leaders of Adolescent leaders: 87 Groups.
                                    </p>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

else if (service == "community-health")
{
    <partial name="_CommunityHealthService" />
}

else if (service == "emergency-relief-service")
{
    <partial name="_EmergencyReliefServices" />
}

else if(service == "health-resource-library")
{
    <partial name="_HealthResourceLibrary" />
}

else if(service == "holistic-training")
{
    <partial name="_HolisticTraining" />
}

else if(service == "medical-scholorship")
{
<partial name="_MedicalScholorship" />
}

else if(service == "rural-education")
{
    <partial name="_RuralEducationTraining" />
}

else if(service == "village-development")
{
    <partial name="_VillageDevelopmentCommittees" />
}

else if (service == "grace-student")
{
    <partial name="_GraceStudent" />
}

else
{
    <div class="mt-50 mb-50">
        <p class="text-center">
            <i class="fa fa-5x fa-exclamation-triangle text-warning"></i>
            <br />
            404 Not Found
        </p>
        <p class="text-center">
            Oops.. That's an error! We could not find that content, you're looking for. Why not start a fresh?


        </p>
        <p>&nbsp;</p>
        <p class="text-center">
            <a href="@Href("~/")" class="btn">Back to Home</a>
        </p>

    </div>

}
